// apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h2, .h2 {
  font-size: 30pt;
}

h3, .h3 {
  font-size: 20pt;
}

h4, .h4 {
  font-size: 16pt;
}

p {
  font-size: 14pt;
}
