<p style="font-size:18px; font-weight:bold; margin-top:10px; margin-bottom:2px;">{{name}}</p>
<div style="font-size:14px;">
  {{#email_name}}{{email_name}}<span style="color:#6d6d6d;">@{{email_domain}}</span>{{/email_name}}{{^email_name}}{{email}}{{/email_name}}
</div>
</br>
{{#connections}}
  <div style="font-size:14px; margin-top:2px; margin-bottom:5px;">
    Connected via: {{connected_user_name}} ({{connected_user_email}})
  </div>
  <div style="font-size:14px; margin-top:2px; margin-bottom:5px; left:85px">
    Total Emails In: {{total_emails_in}}
  </div>
  <div style="font-size:14px; margin-top:2px; margin-bottom:5px; left:85px">
    Latest_Email_in: {{latest_email_in_date}}
  </div>
  <div style="font-size:14px; margin-top:2px; margin-bottom:5px; left:85px">
    Total Emails Out: {{total_emails_out}}
  </div>
  <div style="font-size:14px; margin-top:2px; margin-bottom:5px; left:85px">
    Latest Email Out: {{latest_email_out_date}}
  </div>
  </br>
{{/connections}}
{{^connections}}
No connections
{{/connections}}

