<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<div style="margin-left: 8px;">
    {{ #group_users_profile.connected_profile_name }}
      <p style="font-size:18px; font-weight:bold; margin-top:10px; margin-bottom:0px;">
        {{ group_users_profile.connected_profile_name }}
      </p>
      <p style="font-size:14px;">
          {{ email_name }}<span style="color:#6d6d6d;">@{{ email_domain }}</span>
      </p>
    {{ /group_users_profile.connected_profile_name }}
    {{ ^group_users_profile.connected_profile_name }}
      No Profile Found
    {{ /group_users_profile.connected_profile_name }}
</div>

<table class="table table-striped">
  <tbody>
    {{ #current_user }}
      <tr id="popover-row" data-container="body" data-content="FOOO">
        <td> 
          You last emailed on {{ latest_email_out_date }}
        </td>
      </tr>
    {{ /current_user }}
    {{ ^current_user }}
      <tr id="popover-row" data-container="body" data-content="FOOO">
        <td>You've never emailed this person</td>
      </tr>
    {{ /current_user }}

    {{ #group_users_profile }}
      <tr>
        <td>
          {{ connected_user_email }} emailed {{ connected_profile_email }} on {{ latest_email_out_date }}
        </td>
      </tr>
    {{ /group_users_profile }}
    {{ ^group_users_profile }}
      <tr>
        <td>
          No one in your team has emailed {{ email_name }}@{{ email_domain }}
        </td>
      </tr>
    {{ /group_users_profile }}

    {{ #group_users_domain }}
      <tr>
        <td>
          {{ connected_user_email }} emailed a @{{ email_domain }} address on {{ latest_email_out_date }}
        </td>
      </tr>
    {{ /group_users_domain }}
    {{ ^group_users_domain }}
      <tr>
        <td>
          No one in your team has emailed @{{ email_domain }}
        </td>
      </tr>
    {{ /group_users_domain }}

    <tr><td><a href="">Click here</a> for all info</td></tr>

  </tbody>
</table>

<div> 
    Search Ansatz
    </br>
    <form role="form">
        <div class="form-group">
            <input type="search" name="name" id="search_name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="search" name="domain" id="search_domain" placeholder="Domain">
        </div>
        <button type="button" class="btn btn-primary" id="search_button">Search</button> 
    </form>
</div>

<script>
  $('#search_button').click(function(){
    console.log('Search button clicked');
    var name = $('#search_name').val();
    var domain = $('#search_domain').val();

    var event = document.createEvent('Event');
    event.initEvent('search');
    document.dispatchEvent(event);
  });

  $(document).ready(function(){
    console.log('ready');

    /* Doesn't recognize this function
    $('body').popover({
      placement: "top",
      trigger: "hover",
      selector: "tr[id=popover-row]",
      container: "body"
    });
  */  
  });
</script>