<div class="twbs" style="margin-top:10px;"> 
    <table class="table">
        <tbody>
            <tr><td>
                Welcome to NTWRK!</br>
                <a id="login" href="https://ntwrk.me/auth/google" target="_blank">Click here</a> 
                to login
            </td></tr>
        </tbody>
    </table>
</div>

<script>
$('#login').click(function(){
    console.log('Login link clicked');
    var event = document.createEvent('Event');
    event.initEvent('login');
    document.dispatchEvent(event);
});
</script>

