<div> 
    Search Ansatz
    </br>
    Name: <input type="search" name="name" id="search_name">
    Domain: <input type="search" name="domain" id="search_domain">
    <button type="button" id="search_button">Search</button> 
</div>

<script>
$('#search_button').click(function(){
    console.log('Search button clicked');
    var name = $('#search_name').val();
    var domain = $('#search_domain').val();

    var event = document.createEvent('Event');
    event.initEvent('search');
    document.dispatchEvent(event);
});
</script>