<div class="feature">
  <div class="container">
    <h4>Administrative Dashboard</h4>

    Stats from {{! stats.date }}
    <ul>
      <li><a href="/admin/db_profiles">Profiles Database</a> ({{! stats.profiles }} documents)</li>
      <li><a href="/admin/db_users">Users Database</a> ({{! stats.users }} documents)</li>
      <li><a href="/admin/db_connections">Connections Database</a> ({{! stats.connections }} documents)</li>
      <li><a href="/admin/db_groups">Groups Database</a> ({{! stats.groups }} documents)</li>
    </ul>
  </div>
</div>
