{% block body %}
  <table class="table table-striped">
    <tr>
      <th>Twitter</th>
      <th>Twitter_FTV</th>
      <th>Twitter_FTV Password</th>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    {% for p in politicians %}
      <tr>
        <td>{{ p.twitter }}</td>
        <td>{{ p.ftv.twitter }}</td>
        <td>{{ p.ftv.twitter_password }}</td>
        <td>{{ p.ftv.name }}</td>
        <td>{{ p.ftv.description }}</td>
        <td>{{ p.ftv.email }}</td>
        <td>{{ p.ftv.email_password }}</td>
      </tr>
    {% end %}
  </table>
{% end %}