{% block body %}
  {{ len(connections) }} entries
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Profile</th>
      <th>Total Emails In</th>
      <th>Latest Email In Date</th>
      <th>Total Emails Out</th>
      <th>Latest Email Out Date</th>
      <th>Last Updated</th>
    </tr>
    {% for c in connections %}
      <tr>
        <td>{{ c.user.email }}</td>
        <td>{{ c.profile.email }}</td>
        <td>{{ c.total_emails_in }}</td>
        <td>{{ c.latest_email_in_date }}</td>
        <td>{{ c.total_emails_out }}</td>
        <td>{{ c.latest_email_out_date }}</td>
        <td>{{ c.last_updated }}</td>
      </tr>
    {% end %}
  </table>
{% end %}


