{% block body %}
  {{ len(users) }} entries
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Google Contacts Job: Date Completed</th>
      <th>Gmail Jobs: Last Completed</th>
      <th>Success</th>
      <th>Fail Date</th>
    </tr>
    {% for u in users %}
      <tr>
        <td>{{ u.email }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.google_contacts_job }}</td>
        <td>{{ u.gmail_job.last_job }}</td>
        <td>{{ u.gmail_job.success }}</td>
        <td>{{ u.gmail_job.fail_date }}</td>
      </tr>
    {% end %}
  </table>
{% end %}


