{% extends "../base.html" %}
{% block body %}
  <div class="feature">
    <div class="container">
      <h2>{{ len(users) }} entries</h2>
      <table class="table table-striped">
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Date Joined</th>
          <th>Onboarded?</th>
          <th>Date last updated</th>
        </tr>
        {% for u in users %}
          <tr>
            <td>{{ u.email }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.joined.strftime('%Y/%m/%d') }}</td>
            <td>{{ u.onboarded }}</td>
            {% if u.last_updated %}
              <td>{{ u.last_updated.strftime('%Y/%m/%d') }}</td>
            {% else %}
              <td>None</td>
            {% end %}
          </tr>
        {% end %}
      </table>
    </div>
  </div>
{% end %}


