{% extends "../base.html" %}

{% block body %}
  {% if msg %}
    <h4>{{ msg }}</h4>
  {% end %}

  {% if err %}
    <p class="text-error">{{ err }}</p></br>
  {% end %}


  <h4>Tweet!</h4>
  <form method="POST" action="" role="form">
    <div class="row">
      <div class="span4">
        <label>Choose accounts...</label>
        <select name="chamber">
          <option value="">---</option>
          <option value="all">All FTV accounts</option>
          <option value="senate">All Senators</option>
          <option value="house">All Representatives</option>
        </select>
      </div>

      <div class="span4">
        <div class="form-group">
          <label>Or type an FTV account name:</label>
          <input type="text" name="account">
        </div>
      </div>
    </div> <!--row-->
    </br>

    Enter tweet text:
    <div class="fieldWrapper">
        <textarea name="tweet_text" id="id_tweet_text" rows="4" class="field span8">{{ tweet_text }}</textarea>
    </div>
    <span id="tweet_counter"></span>
    </br>
    <button type="submit" class="btn btn-primary">Tweet</button>
  </form>

{% end %}

{% block javascript %}
  {% include "tweet_counter.html" %}
{% end %}