<script id="filter-popover-content" type="text/x-handlebars-template">
  <div class="filter-popover-content">
    <ul>
      <li class="filter-option" data-filter="latest_email_out_date">Latest Sent</li>
      <li class="filter-option" data-filter="latest_email_in_date">Latest Received</li>
      <li class="filter-option" data-filter="total_emails_out">Emails Sent</li>
      <li class="filter-option" data-filter="total_emails_in">Emails Received</li>
    </ul>
  </div>
</script>