<script id="filter-popover-content" type="text/x-handlebars-template">
  <div class="filter-popover-content">
    <ul>
      <li>Foo</li>
      <li>Weekly</li>
      <li>Monthly</li>
      <li>Quarterly</li>
      <li>Custom Date</li>
    </ul>
  </div>
</script>