<table 
  {% if table_id %}id={{ table_id }}{% end %}
  class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Due Date</th>
      <th>Last Emailed</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reminders %}
      <tr>
        {% if r.company %}
          <td>
            <span class="name">{{ r.profile.name }}</span></br>
            <span class="company-name">{{ r.company.name }}</span>
          </td>
        {% else %}
          <td>{{ r.profile.name }}</td>
        {% end %}
        <td>{{ r.profile.email }}</td>
        <td>{{ r.display_due_date() }}</td>
        <td>{{ r.display_last_emailed() }}</td>
        <td>
          <span>{{ r.display_alert_type() }}</span></br>
          <a tabindex="0" class="reminder-icon reminder-edit" role="button" data-toggle="popover" data-reminder-id="{{ r.id }}">Edit Reminder</a>
        </td>
      </tr>
    {% end %}
  </tbody>
</table>