<!-- Requires jQuery initialization of dataTables-->
{% if today_reminders %}
  <div class="table-header">
    Today's Reminders
  </div>
  {% set reminders = today_reminders %}
  {% set table_id = 'today-reminders-table' %}
  {% include 'reminders_table.html' %}
{% end %}<!--today-reminders-->

{% if later_reminders %}
  {% if not today_reminders %}
    <div class="table-header">
      Upcoming Reminders (You have no reminders due today)
    </div>
  {% else %}
    <div class="table-header padding-top-40">
      Upcoming Reminders
    </div>
  {% end %}

  {% set reminders = later_reminders %}
  {% set table_id = 'later-reminders-table' %}
  {% include 'reminders_table.html' %}
{% end %}<!--later-reminders-->