<script id="search-result-modal" type="text/x-handlebars-template">
  <div id="modal-{{! profile_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="detailModalTitle">
            {{! header }}
          </h2>
          <span class="email">{{! email }}</span>
        </div>
        <div class="modal-body">
          <span class="modal-body-header">{{! name }} in your NTWRKs</span>

          <table id="table-{{! profile_id }}" class="row-border">
            <thead>
              <tr>
                <th class="name_column">Name</th>
                <th class="email_column">Email</th>
                <th class="connection_strength_column">Signal</th>
                <th class="latest_email_out_date_column">Latest Sent</th>
                <th class="latest_email_in_date_column">Latest Received</th>
                <th class="total_emails_out_column">Emails Sent</th>
                <th class="total_emails_in_column">Emails Received</th>
              </tr>
            </thead>
            <tbody>
              {{!#each connections }}
                <tr>
                  <td>{{! connected_user_name }}</td>
                  <td>{{! connected_user_email }}</td>
                  <td><img class="signal-icon" src="{{! connection_strength_href }}"><span hidden>{{! connection_strength }}</span></td>
                  <td>{{! latest_email_out_date }}</td>
                  <td>{{! latest_email_in_date }}</td>
                  <td>{{! total_emails_out }}</td>
                  <td>{{! total_emails_in }}</td>
                </tr>
              {{!/each}}
            </tbody>
          </table>
        </div><!--group-modal modal-body-->
      </div>
    </div>
  </div>
</script>