<script id="search-result-modal" type="text/x-handlebars-template">
  <div id="modal-{{! profile_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="detailModalTitle">
            {{! header }}
          </h2>
          {{! email }} - Copy Email
        </div>
        <div class="modal-body">
          <span class="modal-body-header">{{! name }} in your NTWRKs</span>

          <table id="table-{{! profile_id }}" class="row-border">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Signal</th>
                <th>Latest Sent</th>
                <th>Latest Received</th>
                <th>Emails Sent</th>
                <th>Emails Received</th>
              </tr>
            </thead>
            <tbody>
              {{!#each connections }}
                <tr>
                  <td>{{! connected_user_name }}</td>
                  <td>{{! connected_user_email }}</td>
                  <td>{{! connection_strength }}</td>
                  <td>{{! latest_email_out_date }}</td>
                  <td>{{! latest_email_in_date }}</td>
                  <td>{{! total_emails_out }}</td>
                  <td>{{! total_emails_in }}</td>
                </tr>
              {{!/each}}
            </tbody>
          </table>
        </div><!--group-modal modal-body-->
      </div>
    </div>
  </div>
</script>