{% extends "../base.html" %}

{% block body %}
  <section class="feature">
    <div class="container">

      {{ msg }}
      <form role="form" action="" method="POST">
        <div class="form-group">
          <label for="name">NTWRK Name*</label>
          {% if g %}
            <input type="text" class="form-control" id="name" name="name" value="{{ g.name }}">
          {% else %}
            <input type="text" class="form-control" id="name" name="name" placeholder="Ex: Awesome People">
          {% end %}
        </div>
        {% if g %}
          <div class="form-group">
            <label for="invited_emails">Members ({{ len(g.users) }} members)</label>
            <ul> 
              {% for u in g.users %}
                <li>
                  {{ u.name }} ({{ u.email }})
                </li>
              {% end %}
            </ul>
          </div>
        {% end %}
        <div class="form-group">
          <label for="invited_emails">Invites*</label>
          (Comma-delimited emails only)
          <textarea class="form-control" rows="3" id="invited_emails" name="invited_emails" placeholder="Ex: bob@company.com, fred@company.com, etc.">{% try %}{{ list_to_comma_delimited_string(g.invited_emails) }}{% except %}{% end %}</textarea>
        </div>
        <div class="form-group">
          <label for="domain_setting">Domain Setting</label>
          (Any user with an email address of this domain can find and join this group)
          {% try %}
            {% set domain_setting = g.domain_setting %}
          {% except %}
            {% set domain_setting = None %}
          {% end %}
          {% if domain_setting %}
            <input type="text" class="form-control" id="domain_setting" name="domain_setting" value="{{ domain_setting }}">
          {% else %}
            <input type="text" class="form-control" id="domain_setting" name="domain_setting" placeholder="Ex: usv.com">
          {% end %}
        </div>
        * Fields marked with an asterisk are required
        </br>
        <button type="submit" class="btn btn-primary">
          {% if g %}
            Save
          {% else %}
            Submit
          {% end %}
        </button>
      </form>
      </br>

      {% if g %}
        <form action="/group/{{ g.id }}/delete" method="POST">
          <button type="submit" class="btn btn-danger">
            Delete NTWRK!!
        </button>
        </form>
      {% end %}

    </div><!--container-->
  </section><!--row-->
{% end %}

{% block javascript %}

{% end %}

