<div class="form-group">
  <label for="name">NTWRK Name*</label>
  <div class="alert alert-danger err err-name" role="alert" style="display:none">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
  </div>
  {% if g %}
    <input type="text" class="form-control name" id="name" name="name" value="{{ g.name }}">
  {% else %}
    <input type="text" class="form-control name" id="name" name="name" placeholder="Ex: My Awesome Team">
  {% end %}
</div>

{% if g %}
  <div class="form-group">
    <label for="members">Members ({{ len(g.users) }} members)</label>
    <ul> 
      {% for u in g.users %}
        <li>
          {{ u.name }} ({{ u.email }})
        </li>
      {% end %}
    </ul>
  </div>
{% end %}

<div class="form-group">
  <label for="invited_emails">Invites*</label>
  <div class="alert alert-danger err err-invited-emails" role="alert" style="display:none">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
  </div>
  (Comma-delimited emails only)
  <textarea class="form-control invited_emails" rows="3" id="invited_emails" name="invited_emails" placeholder="Ex: bob@company.com, fred@company.com, etc.">{% try %}{{ list_to_comma_delimited_string(g.invited_emails) }}{% except %}{% end %}</textarea>
</div>

<div class="form-group">
  <label for="domain_setting">Domain Setting</label>
  <div class="alert alert-danger err err-domain-setting" role="alert" style="display:none">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
  </div>
  (Any user with an email address of this domain can find and join this NTWRK)
  {% try %}
    {% set domain_setting = g.domain_setting %}
  {% except %}
    {% set domain_setting = None %}
  {% end %}
  {% if domain_setting %}
    <input type="text" class="form-control domain_setting" id="domain_setting" name="domain_setting" value="{{ domain_setting }}">
  {% else %}
    <input type="text" class="form-control domain_setting" id="domain_setting" name="domain_setting" placeholder="Ex: usv.com">
  {% end %}
</div>
* Fields marked with an asterisk are required
</br>

<button type="submit" class="btn btn-primary btn-inline group-edit-btn">Save</button>