<!DOCTYPE html>
<html>
<head>
  <title>Ansatz - {% block page-title %}{% end %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block page-description %}{% end %}">
  <link rel="shortcut icon" href="{{ static_url("img/ansatz-favicon.png") }}" type="image/png" />

  <link href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,700|Titillium+Web:600,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="{{ static_url("css/screen.css") }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ansatz</a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="nav-chrome-extension" class="hidden"><a href="https://chrome.google.com/webstore/detail/ansatz/fhmfdjnooicibclghoophehldkeeloje">Install the Chrome Extension!</a></li>
          <li><a href="/about">About</a></li>
          {% if not current_user %}
          <li><a href="/auth/google">Sign Up</a></li>
          <li><a href="/auth/google">Log In</a></li>
          {% else %}
            {% if current_user_staff() %}<li><a href="/admin">Admin</a></li>{% end %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/user/settings">Settings</a></li>
              <li><a href="/user/settings">Join a Team</a></li>
              <li class="divider"></li>
              {% if current_user %}
              <li><a href="/auth/logout/">Logout</a></li>
              {% end %}
            </ul>
          </li>
          {% end %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <main class="page-content">{% block body %}{% end %}</main>
  <footer>
    <span>Made in New York City</span>
  </footer>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      fixFooter();

      var browser_info = navigator.sayswho;
      if (browser_info.indexOf('Chrome') > -1) {
        showChromeExtension();
      }
    });

    $(window).resize(function () {
      fixFooter();
    });

    var fixFooter = function () {
    // sticky footer if page is not tall enough to fill the window
      if ($(".page-content").height() > $(window).innerHeight()) {
        $("footer").removeClass("fixed");
      } else {
        $("footer").addClass("fixed");
      }
    }

    /* Displays prompt to download Chrome Extension */
    function showChromeExtension() {
      $('#nav-chrome-extension').removeClass('hidden');
    }

    /* Returns string with info on users's browser type
      Ex: Chrome 38 */
    navigator.sayswho= (function(){
        var ua= navigator.userAgent, tem, 
        M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
            return 'IE '+(tem[1] || '');
        }
        if(M[1]=== 'Chrome'){
            tem= ua.match(/\bOPR\/(\d+)/)
            if(tem!= null) return 'Opera '+tem[1];
        }
        M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
        return M.join(' ');
    })();

  </script>
  {% block javascript %}{% end %}
</body>
</html>