<!DOCTYPE html>
<html>
<head>
  <title>Ansatz - {% block page-title %}{% end %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block page-description %}{% end %}">
  <link rel="shortcut icon" href="{{ static_url("img/ansatz-favicon.png") }}" type="image/png" />

  <link href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,700|Titillium+Web:600,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <!--<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/a480d644-65f6-4511-a471-e3a28be69969.css"/>-->
  <link type="text/css" rel="stylesheet" href="{{ static_url("fonts/NTWRKBook.css") }}"/>
  <link type="text/css" rel="stylesheet" href="{{ static_url("fonts/NTWRKMedium.css") }}"/>
  <link rel="stylesheet" href="{{ static_url("css/bootstrap-select.min.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("textinputeffects/css/component.css") }}" />
  <link href="{{ static_url("css/screen.css") }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          {% if nav_select == 'dashboard' %}
            <img src="{{ static_url('img/logo/logo_selected.png') }}" class="logo"/>
          {% else %}
            <img src="{{ static_url('img/logo/logo.png') }}" class="logo"/>
          {% end %}
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!--<li id="nav-chrome-extension" class="hidden"><a href="https://chrome.google.com/webstore/detail/ansatz/fhmfdjnooicibclghoophehldkeeloje">Install the Chrome Extension!</a></li>-->
        {% if current_user %}
          <li>
            <!--<a id="navbar-search"
              {% if nav_select == 'search' %} class="nav-selected" {% end %}
            >
              Search
            </a>-->
            <input id="navbar-search-input" class="search-tt" placeholder="SEARCH"></input>
          </li>
          <li>
            <a href="/reminders" {% if nav_select == 'reminders' %} class="nav-selected" {% end %}>
              Reminders
            </a>
          </li>
          <li>
            <a href="/user/settings" {% if nav_select == 'settings' %} class="nav-selected" {% end %}>
              Ntwrk Settings
            </a>
          </li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/user/settings">Settings</a></li>
              <li class="divider"></li>
              {% if current_user_staff() %}<li><a href="/admin">Admin</a></li>{% end %}
              <li><a href="/auth/logout/">Logout</a></li>
            </ul>
          </li>
          -->
        {% else %}
          <li><a href="/about">About</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/auth/google">Log In</a></li>
        {% end %}
      </ul>
    </div><!-- /.container -->
  </nav>

  <main class="page-content">
    {% block body %}{% end %}
  </main>

  <footer>
    <div class="container">
       <ul class="nav navbar-nav simple-link">
          <li><a id="privacy-modal-link">Privacy & Security</a></li>
          <li><a href="http://ansatz.readme.io/v1.0/docs">API Documentation</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right footer-right">
          <li><a href="/about">About</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="mailto:me@alexanderpease.com" target="_blank">Contact</a></li>
        </ul>
      </div> <!--container-->
    </div>
  </footer>

  <!-- Privacy Modal -->
  <div id="privacy-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Privacy & Security</h4>
        </div>
        <div class="modal-body">
          Ansatz scans your email's metadata for business connections.</br>
          We never store your emails. </br>
          We never look at your email content.
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ static_url("js/ZeroClipboard.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/typeahead.bundle.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/handlebars-v2.0.0.js") }}"></script>
  <script type="text/javascript" src="//fast.fonts.net/jsapi/a480d644-65f6-4511-a471-e3a28be69969.js"></script>
  <script type="text/javascript" src="{{ static_url("js/bootstrap-select.min.js") }}"></script>
  <script src="{{ static_url("textinputeffects/js/classie.js") }}"></script>
  <script>
    $(document).ready(function () {
      // Search in navbar
      $('#navbar-search-input').click(function(){
        $(this).addClass('navbar-search-active');
        $(this).removeClass('navbar-search-inactive');
        $(this).attr("placeholder", "");
      });
      $('#navbar-search-input').blur(function(){
        $(this).removeClass('navbar-search-active');
        $(this).addClass('navbar-search-inactive');
        //$(this).val("");
        $('.search-tt .tt-hint').each(function(){
          console.log($(this));
          console.log($(this).val());
          $(this).val("");
          console.log($(this).val());
        });
        $(this).attr("placeholder", "SEARCH");
      });

      // DO NOT HANDLE SEARCH TRIGGERS FOR /SEARCH
      var nav_select = "{{ nav_select }}";
      if (nav_select != 'search') {
        // Init code for the searchbar's behavior, incl. typeahead
        {% include 'public/partials/init_typeahead.js' %}
        /* Trigger search when a suggestion is selected 
          Sends a request using <field>_id to specify exact document to look up */
        $('.search-tt').bind('typeahead:selected', function(obj, datum, name){
          // obj is event, datum is what I've given typeahead, name is "company"
          var field = name; 
          window.location.href = "/search?" + field + "_id=" + datum['id'];
        });
        // Submit form if Enter is pressed in text input
        $('.search-tt').keypress(function(event){ 
          if (event.which == 13) {
            window.location.href = "/search?q=" + $(this).val();
          }
        });

        $('.search-tt').blur(function(){ 
          $(this).val('');
        });
      }

      // Initialize all selectpickers
      $('.selectpicker').selectpicker();

      var browser_info = navigator.sayswho;
      if (browser_info.indexOf('Chrome') > -1) {
        showChromeExtension();
      }

      $('#privacy-modal-link').click(function(){
        $('#privacy-modal').modal();
      });

    });

    /* Displays prompt to download Chrome Extension */
    function showChromeExtension() {
      $('#nav-chrome-extension').removeClass('hidden');
    }

    /* Returns string with info on users's browser type
      Ex: Chrome 38 */
    navigator.sayswho= (function(){
        var ua= navigator.userAgent, tem, 
        M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
            return 'IE '+(tem[1] || '');
        }
        if(M[1]=== 'Chrome'){
            tem= ua.match(/\bOPR\/(\d+)/)
            if(tem!= null) return 'Opera '+tem[1];
        }
        M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
        return M.join(' ');
    })();

  </script>
  {% block javascript %}{% end %}
</body>
</html>