{% extends "../base.html" %}
{% block page-title %}About{% end %}
{% block page-description %}{% end %}

{% block nav_title_div %}
  <h1 id="index-h1">About</h1>
{% end %}

{% block body %}
  <section class="feature">
    <div class="container">
      <div class="table-header subpage-header">
        What is NTWRK?
      </div>

      NTWRK is a relationship tool. It works on three levels:</br>
      <ol>
        <li>Helps you stay in touch with important contacts by setting reminders.</li>
        <li>Share contacts with your colleagues and friends.</li>
        <li>Find people and companies by searching our global database.</li>
      </ol>
      </br></br></br>

      <div class="table-header subpage-header">
        What is a "NTWRK?"
      </div>
      A “NTWRK” is our word for “team.” Users in a NTWRK share access to their contacts. 
      NTWRKs also tracks how strongly users are connected to the people and 
      companies in their address book.</br></br>
      You can be in multiple NTWRKs. 
      For example, a NTWRK with your company, a NTWRK with your best friends, 
      or a NTWRK for all your board members. 
      Think of it as a more useful version of connecting on LinkedIn.
      </br></br></br> 

      <div class="table-header subpage-header">
        What are reminders?
      </div>
      Reminders are a simple way to stay in touch with your most valued contacts. For example, you can set a reminder to email Steve at least once a month. NTWRK will automatically check your inbox and let you know if you ever go more than a month without talking to Steve. 
      </br></br></br>

      <div class="table-header subpage-header">
        What is signal?
      </div>
      NTWRK automatically calculates how strongly people are connected to one another.
      Search results will show you how you are connected to someone via your NTWRKs, 
      and how strong that connection. 
      </br></br></br>
    </div>
  </section>
{% end %}