{% extends "../base.html" %}
{% block page-title %}About{% end %}
{% block page-description %}{% end %}

{% block nav_title_div %}
  <h1 id="index-h1">About</h1>
{% end %}

{% block body %}
<section class="feature">
  <div class="container">
    <div class="table-header subpage-header">
      What is NTWRK?
    </div>

    NTWRK is a relationship tool. It works on three levels: 1) let’s you manage your own contacts by creating reminders, 2) share contacts with your colleagues and friends, and 3) search a global database of people and companies to email. 

    <div class="table-header subpage-header">
      What is a "NTWRK?"
    </div>
    A “NTWRK” is our word for “team.” Users in a NTWRK share access to their contacts. NTWRKs also track how strongly users are connected to the people and companies in their address book.</br></br>
    You can be in multiple NTWRKs. For example, a NTWRK with your company, a NTWRK with your best friends, or a NTWRK for all your board members. Think of it as a more useful version of connecting on LinkedIn. 

    <div class="table-header subpage-header">
      What are reminders?
    </div>
    Reminders are a simple way to stay in touch with your most valued contacts. For example, you can set a reminder to email Steve at Facebook at least once a month. Based on your emails, NTWRK will automatically let you know if you ever go more than a month without talking to Steve. 

{% end %}