{% extends "../base.html" %}
{% block page-title %}About{% end %}
{% block page-description %}Ansatz is a simple way to find someone's email address while still respecting their privacy.{% end %}

{% block body %}
  <section class="feature">
    <div class="container">
      <h1>Welcome to Ansatz</h1>
      <p>Ansatz is an email-native professional network. Email is the heart of your business correspondence. So why waste time with spammy connections on a separate social network</p>
      <p>We&rsquo;re building tools to help teams leverage their network to communicate with anyone directly via email.</p>
    </div>
  </section>
  <section class="feature">
    <div class="container">
      <h2>How it works:</h2>
      <ul class="unstyled">
        <li>Sign up your team. We automatically combine your address books so you have complete visibility into your teams network. 
        </li>
        <li>If you&rsquo;re reaching out to an individual or a company, easily see if anyone on your team has prior email correspondence.</li>
        <li>If you don&rsquo;t, then email someone directly through the Ansatz global database of emails. These messages will go directly to their inbox</li>
      </ul>
      <h2>Let&rsquo;s say you&rsquo;re trying to get in touch with Fred Wilson at Union Square Ventures:</h2>
      <ul class="untyled">
      <li>Ansatz lets you easily check if anyone in your team has emailed Fred or anyone at Union Square Ventures before. If so, you can see their email addresses and metrics around their correspondence with your colleague.</li>
      <li>If you don&rsquo;t have a direct connection to Fred, you can find his &ldquo;public email address&rdquo; on Ansatz. Emails sent to fredwilson@ansatz.me will go directly to Fred&rsquo;s inbox, but you won&rsquo;t get to see Fred&rsquo;s real email address until he chooses to email you back.</li>
      </ul>
    </div>
  </section>
{% end %}