{% extends "../base.html" %}
{% block page-title %}Dashboard{% end %}
{% block page-description %}{% end %}

{% block nav_title_div %}
  <h1 id="index-h1">Find anyone in your NTWRK</h1>
  {% if err %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ err }}
    </div>
  {% end %}

  <form class="form-inline" method="GET" action="/search">
    <div class="form-group">
      <input name="q" type="text" class="form-control input-ntwrk search-tt" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-ntwrk input-ntwrk-height"></button>
  </form>
  <span>
    <a id="advanced-search-link" class="yellow">Advanced Search</a>
  </span>
  <!-- Advanced search modal -->
  {% include 'partials/advanced_search_modal.html' %}
{% end %}

{% block body %}
  <section class="feature">
    <div class="container">
      {% if msg %}
        <h2>{{ msg }}</h2>
      {% end %}

      {% if user.get_groups() == [] %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          You aren't part of a NTWRK yet! 
          <a href="/user/settings">Click here</a> to join a NTWRK or create a new one!
          This will make Ansatz much more useful to you.
          </a>
        </div>
      {% end %}

      <div class="table-header subpage-header">
        {% if today_reminders or later_reminders %}
          <a id="today-reminders-link">Active Reminders</a>
          <span class="unselected"> / </span>
          <a id="later-reminders-link" class="unselected">Upcoming Reminders</a>
          <span class="unselected"> / </span>
          <a id="recently-emailed-link" class="unselected">Recently Emailed</a>
        {% else %}
          Recently Emailed
        {% end %}
      </div>

      <div id="today-reminders-div"
        {% if not today_reminders and not later_reminders %}
          style="display: none"
        {% end %}
      >
        {% if today_reminders %}
          {% set reminders = today_reminders %}
          {% set table_id = 'today-reminders-table' %}
          {% include 'partials/reminders_table.html' %}
        {% else %}
          You have no reminders due today! 
          Check your <a id="later-reminders-link" class="box">Upcoming Reminders</a> 
          or see your <a id="recently-emailed-link" class="box">Recently Emailed</a> 
          contacts.
        {% end %}
      </div>

      <div id="later-reminders-div" style="display: none">
        {% if later_reminders %}
          {% set reminders = later_reminders %}
          {% set table_id = 'later-reminders-table' %}
          {% include 'partials/reminders_table.html' %}
        {% else %}
          You have no upcoming reminders! 
          Make sure you don't have any <a id="today-reminders-link" class="box">Active Reminders</a> 
          due, or see your <a id="recently-emailed-link" class="box">Recently Emailed</a> 
          contacts.
        {% end %}
      </div>

      <div id="recently-emailed-div"
        {% if today_reminders or later_reminders %}
          style="display: none"
        {% end %}
      >
        <!-- Recent contacts -->
        {% include 'partials/recently_emailed_table.html' %}
      </div>

    </div> <!--container-->
  </section>

  {% block user_welcome_html %}{% end %}

  <!-- Reminder dropdown -->
  {% include 'partials/reminder_popover_content.hbs' %}

{% end %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      /* Trigger search when a suggestion is selected 
        Sends a request using <field>_id to specify exact document to look up */
      $('.search-tt').bind('typeahead:selected', function(obj, datum, name){
        // obj is event, datum is what I've given typeahead, name is "company"
        var field = name; 
        window.location.href = "/search?" + field + "_id=" + datum['id'];
      });
      //fixSearchBg();

      // Init datatables
      var todayRemindersTable = $('#today-reminders-table').DataTable({
        searching: false,
        pageLength: 20, 
        dom: '<<t>p>',
      });
      var laterRemindersTable = $('#later-reminders-table').DataTable({
        searching: false,
        pageLength: 20, 
        dom: '<<t>p>',
      });
      var recentlyEmailedTable = $('#recently-emailed-table').DataTable({
        searching: false,
        pageLength: 20, 
        dom: '<<t>p>',
      });

      // Advanced search
      $('#advanced-search-link').click(function() {
        $('#advanced-search-modal').modal();
      });

      $('#advanced-search-submit').click(function() {
        $('#advanced-search-modal').modal('hide');
        var name = $('#advanced-search-name').val();
        var domain = $('#advanced-search-domain').val();
        var group_id = $('#advanced-search-group').find(':selected').attr('data-group-id');
        var newUrl = 'search?name=' + name + 
          '&domain=' + domain +
          '&group_id=' + group_id;
        window.location.href = newUrl; // Load search results
      });

      // Table selection
      $('#today-reminders-link').click(function() {
        $('#today-reminders-div').show();
        $('#today-reminders-link').removeClass('unselected');
        $('#later-reminders-div').hide();
        $('#later-reminders-link').addClass('unselected');
        $('#recently-emailed-div').hide();
        $('#recently-emailed-link').addClass('unselected');
      });
       $('#later-reminders-link').click(function() {
        $('#today-reminders-div').hide();
        $('#today-reminders-link').addClass('unselected');
        $('#later-reminders-div').show();
        $('#later-reminders-link').removeClass('unselected');
        $('#recently-emailed-div').hide();
        $('#recently-emailed-link').addClass('unselected');
      });
      $('#recently-emailed-link').click(function() {
        $('#today-reminders-div').hide();
        $('#today-reminders-link').addClass('unselected');
        $('#later-reminders-div').hide();
        $('#later-reminders-link').addClass('unselected');
        $('#recently-emailed-div').show();
        $('#recently-emailed-link').removeClass('unselected');
      });

      // Reminder functionality for recently emailed table
      // THIS IS 100% REDUNDANT WITH CODE IN SEARCH.HTML
      $('table.dataTable tbody tr').hover(
        function(){
          $('#table.dataTable tbody tr').removeClass('hover');
          $(this).addClass('hover');
        }, 
        function() {
          $(this).removeClass('hover');
          $(this).find('.popover').popover('hide');
        }
      );
      var source   = $("#reminder-popover-content").html();
      var template = Handlebars.compile(source);
      $('.reminder-icon').each(function(){
        // Create or edit/delete
        if ($(this).hasClass('reminder-edit')) {
          var edit = true;
        } else {
          var edit = false;
        }
        // HTML
        var context = {
          profile_id: $(this).attr('data-profile-id'),
          reminder_id: $(this).attr('data-reminder-id'),
          edit: edit
        };
        var options = {
          'trigger': 'click',
          'placement': 'bottom',
          'html': true, 
          'content': template(context)
        }
        $(this).popover(options).parent().delegate('.reminder-option', 'click', function() {
          event.stopPropagation();
          // Checkbox, no action
          if ($(this).attr('data-reminder-recurring-checkbox')) {
            var checkbox = $(this).children('.recurring-checkbox').prop("checked");
          }
          // AJAX
          else {
            // Delete reminder
            if ($(this).attr('data-reminder-delete')) {
              var url = "/api/reminder/" + $(this).parent().parent().attr('data-reminder-id') + "/delete";
              url += "?reminder_type=profile";
            }
            // Edit reminder
            else if (edit) {
              var url = "/api/reminder/" + $(this).parent().parent().attr('data-reminder-id') + "/edit?";
              url += "reminder_type=profile";
              url += "&days=" + $(this).attr('data-reminder-days');
              url += "&recurring=" + $(this).parent().find('.recurring-checkbox').prop("checked");
            }
            // Create new reminder
            else {
              var url = "/api/reminder/create?";
              var profile_id = $(this).parent().parent().attr('data-profile-id'); // not proud
              url += "reminder_type=profile";
              url += "&doc_id=" + profile_id;
              url += "&days=" + $(this).attr('data-reminder-days');
              url += "&recurring=" + $(this).parent().find('.recurring-checkbox').prop("checked");
            }
            var options = {
              type: 'POST',
              url: url,
              success: function(response) {
                console.log(response);
                $('.reminder-icon[data-profile-id="' + profile_id + '"]').text('Reminder Set!');
              },
              error: function(response) {
                console.warn(response);
                $('.reminder-icon[data-profile-id="' + profile_id + '"]').text('Error! Try Again');
              }
            };
            console.log('Requesting: ' + options.url)
            $.ajax(options);
          }
        });
      });


    });
  </script>
  {% block user_welcome_js %}{% end %}
{% end %}
