{% extends "../base.html" %}
{% block page-title %}Pricing{% end %}
{% block page-description %}Simple pricing for Ansatz{% end %}

{% block body %}
  <section class="feature yellow-background">
    <div class="container">
      <div class="text-center">
        <p style="font-size:40px">Pricing</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel" style="border:2px solid white; background-color:transparent;">
            <div class="panel-heading" style="border-bottom: 2px solid white;">
              <h2 class="text-center" style="margin-bottom:0px;">Entrepreneur</h2>
            </div>
            <div class="panel-body text-center">
              <p style="font-size:40px">Free</p>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item" style="background-color:transparent;"><i class="icon-ok text-danger"></i>Max. Team Size of 5</li>
                <li class="list-group-item" style="background-color:transparent;"><i class="icon-ok text-danger"></i>10,000 API Calls Per Month</li>
              </ul>
            </div>
            <!--
            <div class="panel-footer" style="background-color:transparent;">
              <a class="btn btn-lg btn-block btn-danger" href="/auth/google">Join!</a>
            </div>
          -->
          </div>
        </div><!--col-md-4-->

        <div class="col-md-6">
          <div class="panel" style="border:2px solid white; background-color:transparent;">
            <div class="panel-heading" style="border-bottom: 2px solid white;">
              <h2 class="text-center" style="margin-bottom:0px;">Team</h2>
            </div>
            <div class="panel-body text-center">
              <p style="font-size:40px">$5/month Per User</p>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item" style="background-color:transparent;"><i class="icon-ok text-danger"></i>Unlimited Team Size</li>
                <li class="list-group-item" style="background-color:transparent;"><i class="icon-ok text-danger"></i> Unlimited API calls</li>
              </ul>
            </div>
          </div>
        </div><!--col-md-4-->
      </div><!--row-->

      <div class="row">

        <div class="col-sm-12 text-center">
          <p><a href="/auth/google" class="btn-primary btn-cta">Sign up with Google</a></p>
        </div>
      </div>


    </div><!--container-->
  </section>
{% end %}