<script id="reminder-dropdown" type="text/x-handlebars-template">
  <select class="selectpicker reminder-dropdown" 
    data-profile-id="{{!profile_id}}"
    data-company-id="{{!company_id}}"
  >
    <option data-reminder-days='null'>Set Reminder</option>
    <option data-reminder-days='7' data-reminder-recurring='false'>One Week</option>
    <option data-reminder-days='30' data-reminder-recurring='false'>One Month</option>
    <option data-reminder-days='90' data-reminder-recurring='false'>One Quarter</option>
    <option data-reminder-days='7' data-reminder-recurring='true'>Weekly</option>
    <option data-reminder-days='30' data-reminder-recurring='true'>Monthly</option>
    <option data-reminder-days='90' data-reminder-recurring='true'>Quarterly</option>
    <option>Custom</option>
  </select>
</script>