{% extends "../base.html" %}
{% block page-title %}Reminders{% end %}
{% block page-description %}{% end %}

{% block body %}
  <section class="feature">
    <div id="reminders-div" class="container">
      {% include 'partials/reminders_active_later.html' %}
    </div> <!--container-->
  </section>

{% end %}

{% block javascript %}
<script>
  $(document).ready(function() {
    var dataTable = $('#today-reminders-table').DataTable({
      searching: false,
      dom: '<<t>>',
    });
    var dataTable = $('#later-reminders-table').DataTable({
      searching: false,
      dom: '<<t>>',
    });
  });
</script>
{% end %}
