{% extends "../base.html" %}
{% block page-title %}Reminders{% end %}
{% block page-description %}{% end %}

{% block body %}
  <section class="feature">
    <div id="reminders-div" class="container">
      <h1>Reminders</h1>

      {% if today_reminders %}
        <div class="reminders-header">
          Active Reminders
        </div>
        <table id="today-reminders-table" class="row-border hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Last Emailed</th>
              <th>Alert</th>
            </tr>
          </thead>
          <tbody>
            {% for r in today_reminders %}
              <tr>
                {% if r.company %}
                  <td>
                    <span class="name">{{ r.profile.name }}</span></br>
                    <span class="company-name">{{ r.company.name }}</span>
                  </td>
                {% else %}
                  <td>{{ r.profile.name }}</td>
                {% end %}
                <td>{{ r.profile.email }}</td>
                {% if r.connection %}
                  <td>{{ r.display_last_emailed() }}</td>
                {% else %}
                  <td>N/A</td>
                {% end %}
                <td>{{ r.display_alert_type() }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>
      {% end %}<!--today-reminders-->

      {% if later_reminders %}
        {% if not today_reminders %}
          <div class="reminders-header">
            Upcoming Reminders (You have no reminders due today)
          </div>
        {% else %}
          <div class="reminders-header">
            Upcoming Reminders
          </div>
        {% end %}

        <table id="later-reminders-table" class="row-border hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Last Emailed</th>
              <th>Alert</th>
            </tr>
          </thead>
          <tbody>
            {% for r in later_reminders %}
              <tr>
                {% if r.company %}
                  <td>
                    <span class="name">{{ r.profile.name }}</span></br>
                    <span class="company-name">{{ r.company.name }}</span>
                  </td>
                {% else %}
                  <td>{{ r.profile.name }}</td>
                {% end %}
                <td>{{ r.profile.email }}</td>
                {% if r.connection %}
                  <td>{{ r.display_last_emailed() }}</td>
                {% else %}
                  <td>N/A</td>
                {% end %}
                <td>
                  {{ r.display_alert_type() }}
                  <span class="copy-email">Change</span>
                </td>
              </tr>
            {% end %}
          </tbody>
        </table>
      {% end %}<!--later-reminders-->
      
    </div> <!--container-->
  </section>

{% end %}

{% block javascript %}
<script>
  $(document).ready(function() {
    var dataTable = $('#today-reminders-table').DataTable({
      searching: false,
      dom: '<<t>>',
    });
    var dataTable = $('#later-reminders-table').DataTable({
      searching: false,
      dom: '<<t>>',
    });
  });
</script>
{% end %}
