<script id="search-result-modal" type="text/x-handlebars-template">
  <div id="modal-{{! profile_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="detailModalTitle">
            {{! name }} ({{! email }})
          </h4>
        </div>
        <div class="modal-body">
          {{!#each connections }}
            {{! total_emails_out }} emails sent
          {{!/each}}
        </div><!--group-modal modal-body-->
      </div>
    </div>
  </div>
</script>