{% extends "../base.html" %}
{% block page-title %}Home{% end %}
{% block page-description %}{% end %}

{% block body %}
  {{ err }}
  {{ msg }}

  <section class="js-stretch-height search-background thin-search">
    <div class="container">
      <form id="main-search" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input id="form-name" name="name" type="text" class="form-control" placeholder="Name" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="form-domain" name="domain" type="text" class="form-control" placeholder="Domain" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <button id="form-button" class="btn btn-primary btn-inline" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="feature">
    <div class="container">
      <h3 id="results"></h3> 

      <!-- Nav tabs on top of results table -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#AllConnections" role="tab" data-toggle="tab">All</a>
        </li>
        <li role="presentation">
          <a href="#GroupConnections" role="tab" data-toggle="tab">By Teammate</a>
        </li>
        <li role="presentation">
          <a href="#ProfileConnections" role="tab" data-toggle="tab">By Connection</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="AllConnections">
          <!-- Table for All -->
          <table id="search_table" class="row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Connections</th>
              </tr>
            </thead>
            <tbody id="search_table_body">
            </tbody>
          </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="GroupConnections">
          <!-- Table for GroupConnections -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Teammate</th>
                  <th>Connection</th>
                  <th>Most Recently</th>
                </tr>
              </thead>
              <tbody>
                {% for sc in group_connection_set %}
                  {% set first = True %}
                  {% for c in sc.connections %}
                    <tr id="popover-row" data-container="body" data-content="
                      {{ sc.email }} --> {{ c.profile.email}}: 
                      {% if c.total_emails_out == 0 %}
                        {{ c.total_emails_out }} emails
                      {% elif c.total_emails_out == 1 %}
                        {{ c.total_emails_out }} email, most recently on {{ c.latest_email_out_date_string() }}
                      {% else %}
                        {{ c.total_emails_out }} emails, most recently on {{ c.latest_email_out_date_string() }}
                      {% end %}</br>
                      {{ c.profile.email}} --> {{ sc.email }}: 
                      {% if c.total_emails_in == 0 %}
                        {{ c.total_emails_in }} emails
                      {% elif c.total_emails_in == 1 %}
                        {{ c.total_emails_in }} email, most recently on {{ c.latest_email_in_date_string() }}
                      {% else %}
                        {{ c.total_emails_in }} emails, most recently on {{ c.latest_email_in_date_string() }}
                      {% end %}
                    ">
                      
                      {% if first %}
                        <td>
                          {% if sc.email == current_user %}
                            You 
                          {% else %}
                            {{ truncate(sc.name) }} 
                          {% end %}
                          (<a href="mailto:{{ sc.email }}">{{ sc.email }}</a>) emailed...
                        </td>
                      {% else %}
                        <td></td>
                      {% end %}
                      <td>
                        {% set days_since_emailed_out = c.days_since_emailed_out() %}
                         {{ truncate(c.profile.name) }} (<a href="mailto:{{ c.profile.email }}">{{ c.profile.email }}</a>)...
                      </td>
                      <td> 
                        {% if days_since_emailed_out == 'Today' %}
                          Today
                        {% elif days_since_emailed_out %}
                            {{ days_since_emailed_out }} days ago
                        {% else %}
                          N/A
                        {% end %}
                      </td>
                    </tr>

                    {% set first = False %}
                  {% end %} <!-- c in sc.connections -->
                {% end %} <!-- sc in group_connection_set -->
              </tbody>
            </table>
          <!-- End table for GroupConnections -->
        </div>
        
        <div role="tabpanel" class="tab-pane" id="ProfileConnections">
          <!-- Table for GroupConnections -->
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Connection</th>
                <th>Teammates</th>
              </tr>
            </thead>
            <tbody>
              {% for sc in profile_connection_set %}
                {% set first = True %}
                {% for c in sc.connections %}
                  <tr id="popover-row" data-container="body" data-content="
                    {{ sc.email }} --> {{ c.user.email}}:
                    {% if c.total_emails_in == 0 %}
                      {{ c.total_emails_in }} emails
                    {% elif c.total_emails_in == 1 %}
                      {{ c.total_emails_in }} email, most recently on {{ c.latest_email_in_date_string() }}</br>
                    {% else %}
                      {{ c.total_emails_in }} emails, most recently on {{ c.latest_email_in_date_string() }}</br>
                    {% end %}
                    {{ c.user.email}} --> {{ sc.email }}:
                    {% if c.total_emails_out == 0 %}
                      {{ c.total_emails_out }} emails
                    {% elif c.total_emails_out == 1 %}
                      {{ c.total_emails_out }} email, most recently on {{ c.latest_email_out_date_string() }}</br>
                    {% else %}
                      {{ c.total_emails_out }} emails, most recently on {{ c.latest_email_out_date_string() }}</br>
                    {% end %}
                  ">
                    {% if first %}
                      <td>{{ truncate(sc.name) }} (<a href="mailto:{{ sc.email }}">{{ sc.email }}</a>) emailed...</td>
                    {% else %}
                      <td></td>
                    {% end %}
                    <td>
                      {% set days_since_emailed_in = c.days_since_emailed_in() %}
                      {% if c.user.email == current_user %}
                        You 
                      {% else %}
                        {{ truncate(c.user.name) }} 
                      {% end %}
                      (<a href="mailto:{{ c.user.email }}">{{ c.user.email }}</a>) 
                      {% if days_since_emailed_in == 'Today' %}
                        Today
                      {% elif days_since_emailed_in == 1 %}
                          {{ days_since_emailed_in }} day ago
                      {% elif days_since_emailed_in %}
                        {{ days_since_emailed_in }} days ago
                      {% else %}
                        N/A
                      {% end %}
                    </td>
                  </tr>
                  {% set first = False %}
                {% end %} <!-- c in sc.connections -->
              {% end %} <!-- sc in profile_connection_set -->
            </tbody>
          </table>
          <!-- End table for ProfileConnections -->
        </div> <!-- Profile Connections -->



      </div>
    </div> <!-- container -->
  </section> <!-- feature -->

{% end %}

{% block javascript %}
  <script>
    $(document).ready(function(){
      // Init DataTable
      var name = 'fred'
      var domain = 'usv';
      var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
      console.log(url);
      $('#search_table').DataTable({
        searching: false,
        pageLength: 20,
        lengthChange: false,
        //processing: true,
        ajax: {
          url: url,
          dataSrc: function(json) {
            return [['fred', '5', '7'], ['fred', '5', '7']]
          }
        } 
      });

      // Search button is pressed, causes AJAX reload
      $('#form-button').click(function() {
        var name = $('#form-name').val();
        var domain = $('#form-domain').val();
        var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
        $("#search_table").ajax.url(url).load(); //reload datatable
      });
      /*$('#form-button').click(function() {
        var name = $('#form-name').val();
        var domain = $('#form-domain').val();
        var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
        var options = {
          type: 'GET',
          url: url,
          success: function(response) {
            console.log(response);
            if (response.status_code == 200) {
              //fillBaseProfileConnectionTable(response.data);
            }
          },
          error: function(response) {
            console.warn(response);
          }
        };
        console.log('Requesting: ' + options.url)
        $.ajax(options);
      });
      */

      // Clipboard
      //var moviePath = $('#copy-button').text();
      var moviePath = '{{ static_url("ZeroClipboard.swf") }}';
      ZeroClipboard.config({
        swfPath: moviePath
      });
      var client = new ZeroClipboard( $(".copy-to-clipboard") );
      client.on('ready', function(readyEvent) {
        client.on('aftercopy', function(event) {
          // `this` === `client`
          // `event.target` === the element that was clicked. Won't work with jquery though. 
          //alert("Copied text to clipboard: " + event.data["text/plain"] );
          $('.copy-to-clipboard-check').removeClass('transition');
          var dataClipboardText = event.data['text/plain'];
          var checkmark = $('.copy-to-clipboard-check[data-clipboard-text-check="' + dataClipboardText + '"]');
          checkmark.addClass('transition');
        });
      });

      // Results message
      queryParameters = getQueryParameters()
      var terms = "";
      var firstParam = true;
      for (var k in queryParameters) {
        if (k != 'page') {
          if (queryParameters[k]) {
            if (!firstParam) {
              terms = terms + ", " // Comma-delimitation after first parameter listed
            }
            terms = terms + '"' + queryParameters[k] + '"';
            firstParam = false;
          }
        }
      }
      $('#results').text('Results for ' + terms);

      // Popovers for each results row
      $('body').popover({
        placement: "top",
        trigger: "focus",
        selector: "tr[id=popover-row]",
        container: "body",
        html: true,
        template: '<div class="popover popover-medium"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      });

      /* Load new page when pagination is clicked */
      /*
      $('.page-link').click(function(){
        console.log('page-link')
        queryParameters = getQueryParameters();
         
        // Add new parameters or update existing ones
        var pageNum = $(this).attr('data-page-number');
        var currentPageNum = parseInt(getQueryParameters['page']);
        if (pageNum == 'prev') {
          if (currentPageNum) {
            queryParameters['page'] = currentPageNum - 1;
          } else {
            // If there is no currentPageNum, then it's on page 1
            queryParameters['page'] = 2
          }
        } else if (pageNum == 'next' ) {
          if (currentPageNum) {
            queryParameters['page'] = currentPageNum + 1;
          } else {
            // If there is no currentPageNum, then it's on page 1
            queryParameters['page'] = 2
          }
        }
        else {
          queryParameters['page'] = pageNum;
        }
         
        // Replace the query portion of the URL.
        // jQuery.param() -> create a serialized representation of an array or
        //     object, suitable for use in a URL query string or Ajax request.
        //
        location.search = $.param(queryParameters); // Causes page to reload
      });
      */

    });//ready


    //Fills search table with html from data 
    /*
    function fillBaseProfileConnectionTable(data) {
      $('#search_table').DataTable().destroy();
      $('#search_table_body').remove('tr');
      var profiles = data.profiles;
      for (var i=0; i<profiles.length; i++) {
        var p = profiles[i];
        var row_html = "<tr>";
        var name = p.name; //truncate
        var domain = 'domain'; //get_domain
        row_html += "<td>" + name + " (" + domain + ")</td>";
        if (p.connections) {
          row_html += "<td>" + p.email + "</td>"; //add copy email ability
          if (p.connections.length == 1) {
            row_html += "<td>" + p.connections.length + " connection</td>";
          } else {
            row_html += "<td>" + p.connections.length + " connections</td></tr>";
          }
        } else {
          row_html += "<td>" + p.burner + "</td>"; //add copy email ability
          row_html += "<td>N/A</td></tr>"
        }
        $('#search_table_body').append(row_html);
      }
      // Datatables
      $('#search_table').DataTable({
        searching: false,
        pageLength: 20,
        lengthChange: false
      });
    }*/

    /*
    function initSearchTable() {
      var table_html = '<table id="search_table" class="row-border hover"> \
        <thead> \
          <tr> \
            <th>Name</th> \
            <th>Email</th> \
            <th>Connections</th> \
          </tr> \
        </thead> \
        <tbody id="search_table_body"></tbody> \
      </table>'
      $('#AllConnections').append(table_html);
    }*/

    function getQueryParameters() {
       /* queryParameters -> handles the query string parameters
       * queryString -> the query string without the fist '?' character
       * re -> the regular expression
       * m -> holds the string matching the regular expression */
      var queryParameters = {}, queryString = location.search.substring(1), re = /([^&=]+)=([^&]*)/g, m;
      // Creates a map with the query string parameters
      while (m = re.exec(queryString)) {
          queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      return queryParameters
    }
  </script>
{% end %}
  