{% extends "../base.html" %}
{% block page-title %}Home{% end %}
{% block page-description %}{% end %}

{% block body %}
  {{ err }}
  {{ msg }}

  <section class="js-stretch-height search-background thin-search">
    <div class="container">
      <form id="main-search" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input id="form-name" name="name" type="text" class="form-control" placeholder="Name" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="form-domain" name="domain" type="text" class="form-control" placeholder="Domain" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <button id="form-button" class="btn btn-primary btn-inline" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="feature">
    <div class="container">
      <h3 id="results"></h3> 

      <!-- Nav tabs on top of results table -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#AllConnections" role="tab" data-toggle="tab">All</a>
        </li>
        <li role="presentation">
          <a href="#GroupConnections" role="tab" data-toggle="tab">By Teammate</a>
        </li>
        <li role="presentation">
          <a href="#ProfileConnections" role="tab" data-toggle="tab">By Connection</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="AllConnections">
          <!-- Table for All -->
          <table id="search_table" class="row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Connections</th>
              </tr>
            </thead>
            <tbody id="search_table_body">
            </tbody>
          </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="GroupConnections">
          <!-- Table for GroupConnections -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Teammate</th>
                  <th>Connection</th>
                  <th>Most Recently</th>
                </tr>
              </thead>
              <tbody>
                {% for sc in group_connection_set %}
                  {% set first = True %}
                  {% for c in sc.connections %}
                    <tr id="popover-row" data-container="body" data-content="
                      {{ sc.email }} --> {{ c.profile.email}}: 
                      {% if c.total_emails_out == 0 %}
                        {{ c.total_emails_out }} emails
                      {% elif c.total_emails_out == 1 %}
                        {{ c.total_emails_out }} email, most recently on {{ c.latest_email_out_date_string() }}
                      {% else %}
                        {{ c.total_emails_out }} emails, most recently on {{ c.latest_email_out_date_string() }}
                      {% end %}</br>
                      {{ c.profile.email}} --> {{ sc.email }}: 
                      {% if c.total_emails_in == 0 %}
                        {{ c.total_emails_in }} emails
                      {% elif c.total_emails_in == 1 %}
                        {{ c.total_emails_in }} email, most recently on {{ c.latest_email_in_date_string() }}
                      {% else %}
                        {{ c.total_emails_in }} emails, most recently on {{ c.latest_email_in_date_string() }}
                      {% end %}
                    ">
                      
                      {% if first %}
                        <td>
                          {% if sc.email == current_user %}
                            You 
                          {% else %}
                            {{ truncate(sc.name) }} 
                          {% end %}
                          (<a href="mailto:{{ sc.email }}">{{ sc.email }}</a>) emailed...
                        </td>
                      {% else %}
                        <td></td>
                      {% end %}
                      <td>
                        {% set days_since_emailed_out = c.days_since_emailed_out() %}
                         {{ truncate(c.profile.name) }} (<a href="mailto:{{ c.profile.email }}">{{ c.profile.email }}</a>)...
                      </td>
                      <td> 
                        {% if days_since_emailed_out == 'Today' %}
                          Today
                        {% elif days_since_emailed_out %}
                            {{ days_since_emailed_out }} days ago
                        {% else %}
                          N/A
                        {% end %}
                      </td>
                    </tr>

                    {% set first = False %}
                  {% end %} <!-- c in sc.connections -->
                {% end %} <!-- sc in group_connection_set -->
              </tbody>
            </table>
          <!-- End table for GroupConnections -->
        </div>
        
        <div role="tabpanel" class="tab-pane" id="ProfileConnections">
          <!-- Table for GroupConnections -->
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Connection</th>
                <th>Teammates</th>
              </tr>
            </thead>
            <tbody>
              {% for sc in profile_connection_set %}
                {% set first = True %}
                {% for c in sc.connections %}
                  <tr id="popover-row" data-container="body" data-content="
                    {{ sc.email }} --> {{ c.user.email}}:
                    {% if c.total_emails_in == 0 %}
                      {{ c.total_emails_in }} emails
                    {% elif c.total_emails_in == 1 %}
                      {{ c.total_emails_in }} email, most recently on {{ c.latest_email_in_date_string() }}</br>
                    {% else %}
                      {{ c.total_emails_in }} emails, most recently on {{ c.latest_email_in_date_string() }}</br>
                    {% end %}
                    {{ c.user.email}} --> {{ sc.email }}:
                    {% if c.total_emails_out == 0 %}
                      {{ c.total_emails_out }} emails
                    {% elif c.total_emails_out == 1 %}
                      {{ c.total_emails_out }} email, most recently on {{ c.latest_email_out_date_string() }}</br>
                    {% else %}
                      {{ c.total_emails_out }} emails, most recently on {{ c.latest_email_out_date_string() }}</br>
                    {% end %}
                  ">
                    {% if first %}
                      <td>{{ truncate(sc.name) }} (<a href="mailto:{{ sc.email }}">{{ sc.email }}</a>) emailed...</td>
                    {% else %}
                      <td></td>
                    {% end %}
                    <td>
                      {% set days_since_emailed_in = c.days_since_emailed_in() %}
                      {% if c.user.email == current_user %}
                        You 
                      {% else %}
                        {{ truncate(c.user.name) }} 
                      {% end %}
                      (<a href="mailto:{{ c.user.email }}">{{ c.user.email }}</a>) 
                      {% if days_since_emailed_in == 'Today' %}
                        Today
                      {% elif days_since_emailed_in == 1 %}
                          {{ days_since_emailed_in }} day ago
                      {% elif days_since_emailed_in %}
                        {{ days_since_emailed_in }} days ago
                      {% else %}
                        N/A
                      {% end %}
                    </td>
                  </tr>
                  {% set first = False %}
                {% end %} <!-- c in sc.connections -->
              {% end %} <!-- sc in profile_connection_set -->
            </tbody>
          </table>
          <!-- End table for ProfileConnections -->
        </div> <!-- Profile Connections -->



      </div>
    </div> <!-- container -->
  </section> <!-- feature -->

{% end %}

{% block javascript %}
  <script>
    $(document).ready(function(){
      // Init DataTable
      var name = 'fred'
      var domain = 'usv';
      var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
      console.log(url);
      $('#search_table').DataTable({
        searching: false,
        pageLength: 20,
        lengthChange: false,
        //processing: true,
        drawCallback: function(settings) {
          $('td').addClass('datatables-row');
          // Get form inputs
          var name = $("#form-name").val();
          var domain = $("#form-domain").val();
          updateResultsMessage([name, domain]);
          $('#form-button').prop('disabled', false);
          $('#form-button').text('Search');
        },
        ajax: {
          url: url,
          dataSrc: function(json) {
            console.log(json);
            // Redirect if no results
            if (json.data.profiles == null) {
              console.log("{{ settings.get('base_url') }}" + "err=no_results");
            }
            // Process results
            var profiles = json.data.profiles;
            json_list = [];
            for (var i=0; i<profiles.length; i++) {
              var p = profiles[i];
              p_list = [];
              p_list.push(p.name);
              p_list.push(p.email);
              p_list.push(p.connections.length);
              json_list.push(p_list)
            }
            return json_list;
          }
        } 
      });

      // Search button is pressed, causes AJAX reload
      $('#form-button').click(function() {
        var name = $('#form-name').val();
        var domain = $('#form-domain').val();
        var new_url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
        // Reload datatable
        $("#search_table").DataTable().ajax.url(new_url).load();
        $('#results').text('Loading...');
        $('#form-button').prop('disabled', true);
        $('#form-button').text('Loading...');
        window.location.href.replace("name="+name, "domain="+domain);
      });

      // Results message
      updateResultsMessage();

      // Clipboard
      //var moviePath = $('#copy-button').text();
      var moviePath = '{{ static_url("ZeroClipboard.swf") }}';
      ZeroClipboard.config({
        swfPath: moviePath
      });
      var client = new ZeroClipboard( $(".copy-to-clipboard") );
      client.on('ready', function(readyEvent) {
        client.on('aftercopy', function(event) {
          // `this` === `client`
          // `event.target` === the element that was clicked. Won't work with jquery though. 
          //alert("Copied text to clipboard: " + event.data["text/plain"] );
          $('.copy-to-clipboard-check').removeClass('transition');
          var dataClipboardText = event.data['text/plain'];
          var checkmark = $('.copy-to-clipboard-check[data-clipboard-text-check="' + dataClipboardText + '"]');
          checkmark.addClass('transition');
        });
      });

      // Popovers for each results row
      $('body').popover({
        placement: "top",
        trigger: "focus",
        selector: "tr[id=popover-row]",
        container: "body",
        html: true,
        template: '<div class="popover popover-medium"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      });
    });//ready

    /* Updates the results message. If an array of queryParameters is supplied,
      it will display those values. If not, it pulls from the href parameters */
    function updateResultsMessage(queryParameters) {
      console.log('query parameters:')
      console.log(queryParameters);
      if (!queryParameters || queryParameters == ["", ""]) {
        console.log('no parameters given');
        queryParameters = getQueryParameters();
      } 
      var terms = "";
      var firstParam = true;
      for (var k in queryParameters) {
        if (k != 'page') {
          if (queryParameters[k]) {
            if (!firstParam) {
              terms = terms + ", " // Comma-delimitation after first parameter listed
            }
            terms = terms + '"' + queryParameters[k] + '"';
            firstParam = false;
          }
        }
      }
      $('#results').text('Results for ' + terms);
    }

    function getQueryParameters() {
       /* queryParameters -> handles the query string parameters
       * queryString -> the query string without the fist '?' character
       * re -> the regular expression
       * m -> holds the string matching the regular expression */
      var queryParameters = {}, queryString = location.search.substring(1), re = /([^&=]+)=([^&]*)/g, m;
      // Creates a map with the query string parameters
      while (m = re.exec(queryString)) {
          queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      return queryParameters
    }
  </script>
{% end %}
  