{% extends "../base.html" %}
{% block page-title %}Home{% end %}
{% block page-description %}{% end %}

{% block body %}
  <section class="feature">
    <div class="container">
      <h1 id="results"></h1>
      <!-- Companies panel -->
      <div id="company-panel" class="panel panel-default" style="display:none">
        <div class="panel-body">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 float-right">
          <!-- Filter by -->
          <div id="filter-by" class="dropdown">
            <button class="btn btn-primary btn-inline dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              Sort By
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li class="filter-option" data-filter="connections" role="presentation"><a role="menuitem" tabindex="-1">Number of Connections</a></li>
              <li class="filter-option" data-filter="total_emails_out" role="presentation"><a role="menuitem" tabindex="-1">Number of Emails Sent</a></li>
              <li class="filter-option" data-filter="total_emails_in" role="presentation"><a role="menuitem" tabindex="-1">Number of Emails Received</a></li>
              <li class="filter-option" data-filter="latest_email_out_date" role="presentation"><a role="menuitem" tabindex="-1">Most Recent Email Sent</a></li>
              <li class="filter-option" data-filter="latest_email_in_date" role="presentation"><a role="menuitem" tabindex="-1">Most Recent Email Received</a></li>
              <li class="filter-option" data-filter="all_fields" role="presentation"><a role="menuitem" tabindex="-1">Show All Fields</a></li>
            </ul>
          </div>
          {% if groups %}
            <div id="group-select" class="dropdown">
              <button class="btn btn-primary btn-inline dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                NTWRKs
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {% if len(groups) > 1 %}
                  <li class="group-option" data-group-id="all" role="presentation"><a role="menuitem" tabindex="-1">All My NTWRKs</a></li>
                {% end %}
                {% for g in groups %}
                  <li class="group-option" data-group-id="{{ g.id }}" role="presentation"><a role="menuitem" tabindex="-1">{{ g }}</a></li>
                {% end %}
                <li class="group-option" data-group-id="self" role="presentation"><a role="menuitem" tabindex="-1">Just Me</a></li>
              </ul>
            </div>
          {% end %}
        </div>
      </div>

      <!-- Table for All -->
      <table id="search_table" class="row-border hover">
        <thead>
          <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CONNECTIONS</th>
            <th>SIGNAL</th>
            <th>ALERTS</th>
            <th>DAYS SINCE CONTACT</th>
            <th>LATEST SENT</th>
            <th>LATEST RECEIEVED</th>
            <th>EMAILS SENT</th>
            <th>EMAILS RECEIVED</th>
          </tr>
        </thead>
        <tbody id="search_table_body">
        </tbody>
      </table>

      <!-- Detail view modals inserted here -->
      <div id="modalsDiv">
        {% include 'search_result_modal.hbs' %}
      </div>

      <!-- Advanced search modal -->
      {% include 'partials/advanced_search_modal.html' %}

      <!-- Reminder dropdown -->
      {% include 'reminder_dropdown.hbs' %}


    </div> <!-- container -->
  </section> <!-- feature -->

    <section class="js-stretch-height search-background thin-search">
    <div class="container">
      <form id="main-search" class="form-inline">
        <!--
        <div class="form-group">
          <div class="input-group">
            <input id="form-name" name="name" type="text" class="form-control" placeholder="Name" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <input id="form-company" name="company" type="text" class="form-control typeahead" placeholder="Company">
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="form-domain" name="domain" type="text" class="form-control" placeholder="Domain" autocomplete="off">
          </div>
        </div>
        -->
        <div class="form-group">
          <input id="form-q" name="q" type="text" class="form-control">
        </div>
        <div class="form-group">
          <div class="input-group">
            <button id="form-button" class="btn btn-primary btn-inline" type="button">Search</button>
          </div>
        </div>
      </form>
      <a id="advanced-search-link" class="advanced-search-link">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span>Advanced Search</span>
      </a>
    </div>
  </section>

{% end %}

{% block javascript %}
  <script>
    $(document).ready(function(){
      // Page inits to display loading
      displayLoading();
      setFormQPlaceholder();

      // Init code for the searchbar's behavior, incl. typeahead
      {% include 'init_typeahead_snippet.js' %}

      /* Trigger search when a suggestion is selected 
        Sends a request using <field>_id to specify exact document to look up */
      $('#form-q').bind('typeahead:selected', function(obj, datum, name){
        // obj is event, datum is what I've given typeahead, name is "company"
        var field = name; 
        // Reload datatable
        var new_url = 'api/searchbaseprofileconnection?' + field + '_id=' + datum['id'];
        console.log(new_url)
        $("#search_table").DataTable().ajax.url(new_url).load();
        displayLoading();
        showCompanyPanelLoading(datum);
        //window.location.href.replace("name="+name, "domain="+domain); // not working
      });

      // Submit form if Enter is pressed in text input
      $('#form-q').keypress(function(event){ 
        if (event.which == 13) {
          $('#form-button').click();
        }
      });

      // Search button is pressed, causes AJAX reload
      $('#form-button').click(function() {
        var q = $('#form-q').val();
        // Reload datatable
        var new_url = 'api/searchbaseprofileconnection?q=' + q;
        console.log(new_url)
        $("#search_table").DataTable().ajax.url(new_url).load();
        displayLoading();
        //window.location.href.replace("name="+name, "domain="+domain); // not working
      });


      // Init DataTable
      params = getQueryParameters();
      var url = 'api/searchbaseprofileconnection?'
      for (var key in params) {
        if (params[key]) {
          if (url[url.length-1] != '?') {
            url += '&'
          }
          url += key + '=' + params[key];
        }
      }
      /*var q = params['q']
      var company_id = params['company_id']
      var group_id = params['group_id'];
      var name = params['name'];
      var domain = params['domain'];
      if (company_id) {
        var url = 'api/searchbaseprofileconnection?company_id=' + company_id;
      }
      else if (q) {
        var url = 'api/searchbaseprofileconnection?q=' + q;
      } else {
        var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
      }
      */
      console.log("Datatables calling: " + url);
      // Sorting methods for columns including 'N/A' cells
      $.fn.dataTable.ext.type.order['int-na-pre'] = function ( d ) {
        if ( d == 'N/A' ) {
          return 0;
        }
        return d;
      };
      $.fn.dataTable.ext.type.order['date-na-pre'] = function ( d ) {
        if ( d == 'N/A' ) {
          return '1900/01/01'; //unlikely to be earlier than this
        }
        return d;
      };
      var dataTable = $('#search_table').DataTable({
        searching: false,
        pageLength: 20,
        lengthChange: false,
        dom: '<<t>p>',
        //scrollX: true,
        oLanguage: {
          sLoadingRecords: '<img src="' + '{{ static_url("img/loading-transparent.png") }}' + '">'
        },
        order: [[3, "desc"]],
        columns: [
          {
            'data': 'name', 
            'render': function(data, type, full, meta) {
              var company_name = full['company_name'];
              if (company_name != null) {
                return '<span class="name">' + data + '</span></br><span class="company-name">' + company_name + '</span>'; 
              } else {
                return '<span class="name">' + data + '</span>';
              }
              
            }
          },
          {
            'data': 'email', 
            'render': function(data, type, full, meta) { 
              return '<span class="email">' + data + '</span>' +
                '<a class="copy-email" data-clipboard-text="' + 
                data + '">Copy email</a>';
            }
          },
          {
            'name': 'connections',
            'data': 'connections'
          },
          {
            'name': 'connection_strength', 
            'data': 'connection_strength',
            'render': function(data, type, full, meta) {
              if (data == 1) {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_1.png") }}';
              } else if (data == 2) {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_2.png") }}';
              } else if (data == 3) {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_3.png") }}';
              } else if (data == 4) {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_4.png") }}';
              } else if (data == 5) {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_5.png") }}';
              } else {
                var icon_url = '{{ static_url("img/signal_strength/signal_strength_6.png") }}';
              } 
              return '<img class="signal-icon" src="' + icon_url + '"><span hidden>' + data + '</span>';
            }
          },
          {
            'name': 'reminder', 
            'data': 'reminder',
            'render': function(data, type, full, meta) {
              if (data == null || data == "") {
                return '<img class="alert-icon" src="' + '{{ static_url("img/alert.png") }}' + '">';
              } else {
                return 'foo';
              }
            }
          },
          {'name': 'days_since_contact', 'data': 'days_since_contact', 'type': 'int-na'},
          {'name': 'latest_email_out_date', 'data': 'latest_email_out_date', 'type': 'date-na'},
          {'name': 'latest_email_in_date', 'data': 'latest_email_in_date', 'type': 'date-na'},
          {'name': 'total_emails_out', 'data': 'total_emails_out'},
          {'name': 'total_emails_in', 'data': 'total_emails_in'},
          {'name': 'company_name', 'data': 'company_name'}
        ],
        columnDefs: [
          {
            'targets': [5, 6, 7, 8, 9, 10],
            'visible': false
          },
          {
            'targets': [2, 3, 4, 5, 6, 7, 8, 9, 10],
            'orderSequence': ['desc', 'asc']
          }
        ],
        //processing: true, // ugly
        drawCallback: function(settings) {
          // Gets called every time redrawn, including just to say "loading"
          $('td').addClass('datatables-cell');
          // Copy to clipboard icons for email cells
          var moviePath = '{{ static_url("ZeroClipboard.swf") }}';
          ZeroClipboard.config({
            swfPath: moviePath
          });
          var client = new ZeroClipboard( $(".copy-email") );
          client.on('ready', function(event) {
            console.log('ready');
            client.on('aftercopy', function(event) {
              console.log('aftercopy');
              // `this` === `client`
              // `event.target` === the element that was clicked. Won't work with jquery though. 
              $('.copy-email').text('Copy email');
              var dataClipboardText = event.data['text/plain'];
              console.log(dataClipboardText);
              var copyEmailMsg = $('.copy-email[data-clipboard-text="' + dataClipboardText + '"]');
              copyEmailMsg.text('Copied to clipboard!');
            });
          }); // client.on('ready')
          $('.copy-email').click(function(event) {
            // Stop tr click event firing when email link is clicked
            console.log('clicked');
            event.stopPropagation();
          });
          // Reminders
          $('.reminder-dropdown').click(function(event) {
            event.stopPropagation();
          });
         $('.reminder-dropdown').change(function(event) {
            var days = $(this).find(':selected').attr('data-reminder-days');
            if (days == 'null') {
              return;
            }
            var url = "/api/reminder?";
            var profile_id = $(this).attr('data-profile-id');
            var company_id = $(this).attr('data-company-id');
            if (profile_id && profile_id != "") {
              url += "profile_id=" + profile_id;
            } else{
              url += "company_id=" + company_id;
            }
            url += "&days=" + days;
            url += "&recurring=" + $(this).find(':selected').attr('data-reminder-recurring');
            console.log(url);
            //ajax call
          });
         // Standardize row height
         var maxHeight = null;
         $('#search_table tbody tr').each(function(){
          rowHeight = $(this).height();
          maxHeight = (rowHeight > maxHeight) ? rowHeight : maxHeight;
         });
         $('#search_table tbody tr').height(maxHeight);
        },
        ajax: {
          url: url,
          dataSrc: function(json) {
            console.log(json);
            // Handle errors
            if (json.status_code != 200) {
              console.log('Server returned status code: ' + json.status_code);
              displayLoaded('Error loading data, please try again');
              return []
            }
            // Redirect if no results
            if (json.data.profiles == null) {
              window.location.href = "{{ settings.get('base_url') }}" + "?err=no_results";
            }
            // Process results
            var profiles = json.data.profiles;
            json_list = [];
            for (var i=0; i<profiles.length; i++) {
              var p = new Profile(profiles[i]);
              json_list.push(p.rowArray());
              p.addModal();
            }

            // Company panel results if included
            if (json.data.company_stats) {
              //showCompanyPanel(json.data.company_stats);
              displayLoaded(json.data.company_stats['name']);
            } else {
              displayLoaded();
            }

            return json_list;
          },
          error: function(reason) {
            console.warning('Server threw error to #search_table datatable');
          }
        } 
      });// datatable

      // Display detail modal when row is clicked on
      $('#search_table tbody').on('click', 'tr', function() {
        //var data = dataTable.fnGetData('tr'); // fnGetData undefined. Hack around
        p_id = $('td', this).parent().attr('id');
        $('#modal-' + p_id).modal();
      });

      // Filter options
      $('.filter-option').click(function() {
        //$("#search_table").DataTable({scrollX: true});
        var filterName = $(this).attr('data-filter');
        if (filterName == 'all_fields') {
          dataTable.columns().visible(true);
          dataTable.columns('self_connected:name').visible(false);
        } else {
          dataTable.column(filterName + ':name').order('desc').draw().visible(true);
        }
      });

      // Filter options
      $('.group-option').click(function() {
        var groupId = $(this).attr('data-group-id');
        var oldUrl = $("#search_table").DataTable().ajax.url();
        var newUrl = oldUrl + '&group_id=' + groupId;
        console.log(newUrl);
        displayLoading();
        $("#search_table").DataTable().ajax.url(newUrl).load();
        
      });

      // Advanced search
      $('#advanced-search-link').click(function() {
        $('#advanced-search-modal').modal();
      });

      $('#advanced-search-submit').click(function() {
        $('#advanced-search-modal').modal('hide');
        var name = $('#advanced-search-name').val();
        var domain = $('#advanced-search-domain').val();
        var group_id = $('#advanced-search-group').find(':selected').attr('data-group-id');
        var newUrl = 'api/searchbaseprofileconnection?name=' + name + 
          '&domain=' + domain +
          '&group_id=' + group_id;
        console.log(newUrl);
        displayLoading();
        $("#search_table").DataTable().ajax.url(newUrl).load();
      });

    }); // ready

    /* Displays everything once data is loaded */
    function displayLoaded(results_msg) {
      if (results_msg) {
        $('#results').text(results_msg);
      } else {
        var q = $("#form-q").val();
        updateResultsMessage(q.split(" "));
      }
      $('#form-button').prop('disabled', false);
      $('#form-button').text('Search');
      $('#form-q').prop('disabled', false);
      $('#form-q').val('');
      $('#filter-by').find('button').prop('disabled', false);
      $('#group-select').find('button').prop('disabled', false);
      setFormQPlaceholder();
    }

    /* Displays loading messages and disables form */
    function displayLoading() {
      $('#results').text('Loading...');
      $('#form-button').prop('disabled', true);
      $('#form-button').text('Loading...');
      $('#form-q').prop('disabled', true);
      $('#filter-by').find('button').prop('disabled', true);
      $('#group-select').find('button').prop('disabled', true);
      setFormQPlaceholder();
    }

    /* Updates the results message. If an array of queryParameters is supplied,
      it will display those values. If not, it pulls from the href parameters */
    function updateResultsMessage(queryParameters) {
      if (!queryParameters || queryParameters == "") {
        queryParameters = getQueryParameters();
      } 
      var terms = "";
      var firstParam = true;
      for (var k in queryParameters) {
        if (k != 'page') {
          if (queryParameters[k]) {
            if (!firstParam) {
              terms = terms + ", " // Comma-delimitation after first parameter listed
            }
            terms = terms + '"' + queryParameters[k] + '"';
            firstParam = false;
          }
        }
      }
      $('#results').text('Results for ' + terms);
    }

    function getQueryParameters() {
       /* queryParameters -> handles the query string parameters
       * queryString -> the query string without the fist '?' character
       * re -> the regular expression
       * m -> holds the string matching the regular expression */
      var queryParameters = {}, queryString = location.search.substring(1), re = /([^&=]+)=([^&]*)/g, m;
      // Creates a map with the query string parameters
      while (m = re.exec(queryString)) {
          queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]).replace("+", " ");
      }
      return queryParameters
    }

    // Sets form-q input placeholder
    function setFormQPlaceholder() {
      $("#form-q").attr('placeholder', 'Search for a person, company, or website');
    }

    // JS to handle the company_panel div
    {% include 'company_panel.js' %}

    var Profile = function(dict) {
      this.profile_id = dict['profile_id'];
      this.name = dict['name'];
      this.email = dict['email'];
      this.company_name = dict['company_name'];
      //this.burner = dict['burner'];
      this.connection_strength = dict['connection_strength']
      this.connections = dict['connections']
      this.days_since_contact = dict['days_since_contact']
      this.total_emails_out = dict['total_emails_out']
      this.latest_email_out_date = dict['latest_email_out_date']
      this.total_emails_in = dict['total_emails_in']
      this.latest_email_in_date = dict['latest_email_in_date']
    }

    Profile.prototype.cleanName = function() {
      // Change "last, first" to "first last"
      var name = this.name;
      name = name.charAt(0).toUpperCase() + name.slice(1);
      if (name.indexOf(',') > -1) {
        var name_array = name.split(',');
        name = name_array[1] + ' ' + name_array[0];
      }
      if (name.indexOf('[') > -1 && name.indexOf(']') > -1) {
        var opening = name.indexOf(' [');
        var closing = name.indexOf(']');
        bracketString = name.substring(opening, closing+1);
        var splitNameArray = name.split(bracketString);
        var splitName = '';
        for (var i=0; i<splitNameArray.length; i++) {
          splitName += splitNameArray[i];
        }
        name = splitName + bracketString;
      }
      if (name.indexOf('<') > -1 && name.indexOf('>') > -1) {
        // only replaces first instance
        name = name.replace('<', '')
        name = name.replace('>', '') 
      }
      return name;
    }

    Profile.prototype.domain = function() {
      return this.email.split('@')[1];
    }

    // Put instance properties into array for displaying in table
    Profile.prototype.rowArray = function() {
      rowDict = {};
      rowDict['type'] = 'profile';
      rowDict['name'] = this.cleanName();
      rowDict['email'] = this.email;
      rowDict['connections'] = this.connections.length;
      rowDict['connection_strength'] = this.connection_strength;
      if (this.reminder) {
        rowDict['reminder'] = this.reminder;
      } else {
        rowDict['reminder'] = null;
      }
      if (this.days_since_contact) {
        rowDict['days_since_contact'] = this.days_since_contact;
      } else {
        rowDict['days_since_contact'] = 'N/A';
      }
      rowDict['total_emails_out'] = this.total_emails_out;
      rowDict['total_emails_in'] = this.total_emails_in;
      if (this.latest_email_out_date) {
        rowDict['latest_email_out_date'] = this.latest_email_out_date;
      } else {
        rowDict['latest_email_out_date'] = 'N/A';
      }
      if (this.latest_email_in_date) {
        rowDict['latest_email_in_date'] = this.latest_email_in_date;
      } else {
        rowDict['latest_email_in_date'] = 'N/A';
      }
      rowDict['company_name'] = this.company_name;
      rowDict['DT_RowId'] = this.profile_id;
      return rowDict;
    }

    // Creates a detail view modal for this Profile instance
    Profile.prototype.addModal = function() {
      var source   = $("#search-result-modal").html();
      var template = Handlebars.compile(source);
      var context = {
        profile_id: this.profile_id,
        name: this.cleanName(),
        email: this.email,
        connections: this.connections 
      }
      $('#modalsDiv').append(template(context));
      // Each profile modal has a datatable in it
      if ($.fn.dataTable.isDataTable('#table-' + this.profile_id)) {
        // Reinit preexisting table by destroying first
        $('#table-' + this.profile_id).DataTable().destroy();
      }
      $('#table-' + this.profile_id).DataTable({
        searching: false,
        paging: false
      });
    }

  </script>
{% end %}
  
