{{! err }}
{{! msg }}

<section class="js-stretch-height search-background thin-search">
  <div class="container">
    <form id="main-search" class="form-inline" {{!action "searchSubmit" on="submit"}}>
      <div class="form-group">
        <div class="input-group">
          {{!input value=nameField id="rounded-name" type="text"  class="form-control" placeholder="Name"}}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          {{!input value=domainField type="text" class="form-control" placeholder="Domain"}}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <button type="submit" class="btn btn-primary btn-inline">Search</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="feature">
  <div class="container">
    
    {{!debug}}

    <h3 id="results"></h3> 

    <!-- Nav tabs on top of results table -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#AllConnections" role="tab" data-toggle="tab">All</a>
      </li>
      <li role="presentation">
        <a href="#GroupConnections" role="tab" data-toggle="tab">By Teammate</a>
      </li>
      <li role="presentation">
        <a href="#ProfileConnections" role="tab" data-toggle="tab">By Connection</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="AllConnections">
        <!-- Table for All -->
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Connections</th>
              </tr>
            </thead>
            <tbody>
              {{!#each p in profiles}}
                {{!#if p.connections}}
                  <tr id="popover-row" 
                    data-container="body" 
                    tabindex="0" 
                    data-content="{{! connections_popover p }}"
                  >
                    <td>{{!truncate p.name}} ({{!domain p.email}})</td>
                    <td><a href="mailto:{{! p.email }}">{{!p.email}}<a></td>
                    <td>
                      {{! display_num_connections p}}
                    </td>
                  </tr>
                {{! else }}
                  <tr id="popover-row" data-container="body" data-content="You do not have a connection to {{! p.name }}. </br>
                    But, you can send an email directly to his/her inbox using this public email address: {{! p.burner }}@{{ settings.get('domain_name') }}">
                    <td>{{! truncate p.name }} ({{! domain p.email }})</td>
                    <td>
                      <a href="{{! p.burner }}@{{ settings.get('domain_name') }}">{{! p.burner }}@{{ settings.get('domain_name') }}</a>
                    </td>
                    <td>N/A</td>
                  </tr>
                {{!/if}} <!-- if connections -->
              {{!/each}}
            </tbody>
          </table>
        <!-- End table for GroupConnections -->
      </div>

      <div role="tabpanel" class="tab-pane" id="GroupConnections">
        <!-- Table for GroupConnections -->
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Teammate</th>
                <th>Connection</th>
                <th>Most Recently</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        <!-- End table for GroupConnections -->
      </div>
      
      <div role="tabpanel" class="tab-pane" id="ProfileConnections">
        <!-- Table for GroupConnections -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Connection</th>
              <th>Teammates</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        <!-- End table for ProfileConnections -->
      </div> <!-- Profile Connections -->



    </div>

    <!-- Pagination -->
    

  </div> <!-- container -->
</section> <!-- feature -->
