{% extends "../base.html" %}
{% block page-title %}Home{% end %}
{% block page-description %}{% end %}

{% block body %}
  {{ err }}
  {{ msg }}

  <section class="js-stretch-height search-background thin-search">
    <div class="container">
      <form id="main-search" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input id="form-name" name="name" type="text" class="form-control" placeholder="Name" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="form-domain" name="domain" type="text" class="form-control" placeholder="Domain" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <button id="form-button" class="btn btn-primary btn-inline" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="feature">
    <div class="container">
      <h3 id="results"></h3> 

      <!-- Table for All -->
      <table id="search_table" class="row-border hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Connections</th>
          </tr>
        </thead>
        <tbody id="search_table_body">
        </tbody>
      </table>

      <!-- Detail view modals inserted here -->
      <div id="modalsDiv"></div>

    </div> <!-- container -->
  </section> <!-- feature -->

{% end %}

{% block javascript %}
  <script>
    $(document).ready(function(){
      // Page inits to display loading
      displayLoading();

      // Init DataTable
      params = getQueryParameters();
      var name = params['name'];
      var domain = params['domain'];
      var url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
      console.log(url);
      var dataTable = $('#search_table').DataTable({
        searching: false,
        pageLength: 20,
        lengthChange: false,
        columns: [
          {'data': 'name'},
          {'data': 'email'},
          {'data': 'connections'}
        ],
        //processing: true, // ugly
        drawCallback: function(settings) {
          // Gets called every time redrawn, including just to say "loading"
          $('td').addClass('datatables-cell');
        },
        ajax: {
          url: url,
          dataSrc: function(json) {
            console.log(json);
            // Redirect if no results
            if (json.data.profiles == null) {
              window.location.href = "{{ settings.get('base_url') }}" + "?err=no_results";
            }
            // Process results
            var profiles = json.data.profiles;
            json_list = [];
            for (var i=0; i<profiles.length; i++) {
              var p = new Profile(profiles[i]);
              json_list.push(p.rowArray());
              p.addModal();
            }

            // Once data is returned, remove loading display
            displayLoaded();

            return json_list;
          }
        } 
      });

      // Search button is pressed, causes AJAX reload
      $('#form-button').click(function() {
        // Get form values
        var name = $('#form-name').val();
        var domain = $('#form-domain').val();
        // Reload datatable
        var new_url = 'api/searchbaseprofileconnection?name=' + name + '&domain=' + domain;
        $("#search_table").DataTable().ajax.url(new_url).load();
        displayLoading();
        //window.location.href.replace("name="+name, "domain="+domain); // not working
      });

      // Display detail modal when row is clicked on
      $('#search_table tbody').on('click', 'tr', function() {
        //var data = dataTable.fnGetData('tr'); // fnGetData undefined. Hack around
        p_id = $('td', this).parent().attr('id');
        console.log(p_id);
        $('#modal-' + p_id).modal();
      })

      // Clipboard
      //var moviePath = $('#copy-button').text();
      var moviePath = '{{ static_url("ZeroClipboard.swf") }}';
      ZeroClipboard.config({
        swfPath: moviePath
      });
      var client = new ZeroClipboard( $(".copy-to-clipboard") );
      client.on('ready', function(readyEvent) {
        client.on('aftercopy', function(event) {
          // `this` === `client`
          // `event.target` === the element that was clicked. Won't work with jquery though. 
          //alert("Copied text to clipboard: " + event.data["text/plain"] );
          $('.copy-to-clipboard-check').removeClass('transition');
          var dataClipboardText = event.data['text/plain'];
          var checkmark = $('.copy-to-clipboard-check[data-clipboard-text-check="' + dataClipboardText + '"]');
          checkmark.addClass('transition');
        });
      });
    });//ready

    /* Displays everything once data is loaded */
    function displayLoaded() {
      var name = $("#form-name").val();
      var domain = $("#form-domain").val();
      updateResultsMessage([name, domain]);
      $('#form-button').prop('disabled', false);
      $('#form-button').text('Search');
      $('#form-name').prop('disabled', false);
      $('#form-domain').prop('disabled', false);
      $('#form-name').val('');
      $('#form-domain').val('');
      $('#form-name').attr('placeholder', 'Name');
      $('#form-domain').attr('placeholder', 'Domain');
    }

    /* Displays loading messages and disables form */
    function displayLoading() {
      $('#results').text('Loading...');
      $('#form-button').prop('disabled', true);
      $('#form-button').text('Loading...');
      $('#form-name').prop('disabled', true);
      $('#form-domain').prop('disabled', true);
    }

    /* Updates the results message. If an array of queryParameters is supplied,
      it will display those values. If not, it pulls from the href parameters */
    function updateResultsMessage(queryParameters) {
      if (!queryParameters || (queryParameters[0] == "" && queryParameters[1] == "")) {
        queryParameters = getQueryParameters();
      } 
      var terms = "";
      var firstParam = true;
      for (var k in queryParameters) {
        if (k != 'page') {
          if (queryParameters[k]) {
            if (!firstParam) {
              terms = terms + ", " // Comma-delimitation after first parameter listed
            }
            terms = terms + '"' + queryParameters[k] + '"';
            firstParam = false;
          }
        }
      }
      $('#results').text('Results for ' + terms);
    }

    function getQueryParameters() {
       /* queryParameters -> handles the query string parameters
       * queryString -> the query string without the fist '?' character
       * re -> the regular expression
       * m -> holds the string matching the regular expression */
      var queryParameters = {}, queryString = location.search.substring(1), re = /([^&=]+)=([^&]*)/g, m;
      // Creates a map with the query string parameters
      while (m = re.exec(queryString)) {
          queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      return queryParameters
    }

    var Profile = function(dict) {
      this.profile_id = dict['profile_id'];
      this.name = dict['name'];
      this.email = dict['email'];
      this.burner = dict['burner'];
      if (dict['connections']) {
        this.connections = dict['connections'];
      } else {
        this.connections = null;
      }
    }

    Profile.prototype.cleanName = function() {
      // Change "last, first" to "first last"
      var name = this.name;
      if (name.indexOf(',') > -1) {
        var name_array = name.split(',');
        name = name_array[1] + ' ' + name_array[0];
      }
      if (name.indexOf('[') > -1 && name.indexOf(']') > -1) {
        var opening = name.indexOf(' [');
        var closing = name.indexOf(']');
        bracketString = name.substring(opening, closing+1);
        var splitNameArray = name.split(bracketString);
        var splitName = '';
        for (var i=0; i<splitNameArray.length; i++) {
          splitName += splitNameArray[i];
        }
        name = splitName + bracketString;
      }
      return name;
    }

    Profile.prototype.domain = function() {
      return this.email.split('@')[1];
    }

    // Put instance properties into array for displaying in table
    Profile.prototype.rowArray = function() {
      rowDict = {};
      rowDict['name'] = this.cleanName();
      if (this.connections) {
        rowDict['email'] = this.email;
        rowDict['connections'] = this.connections.length;
      } else {
        rowDict['email'] = this.burner + '@' + '{{ settings.get("domain_name") }}';
        rowDict['connections'] = 'N/A';
      }
      rowDict['DT_RowId'] = this.profile_id;
      return rowDict;
    }

    // Creates a detail view modal for this Profile instance
    Profile.prototype.addModal = function() {
      var modalHtml = '<div id="modal-' + this.profile_id + '" ';
      modalHtml += 'class="modal fade" tabindex="-1" \
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> \
          <div class="modal-dialog modal-lg"> \
            <div class="modal-content"> \
              <div class="modal-header"> \
                <button type="button" class="close" data-dismiss="modal" \
                aria-label="Close"><span aria-hidden="true">&times;</span></button> \
                <h4 class="modal-title" id="detailModalTitle">';
      modalHtml += this.name;
      if (this.connections) {
        modalHtml += ' (' + this.email +')'
      } else {
        modalHtml += ' (' + this.burner + '@{{ settings.get("domain_name") }})'
      }
      modalHtml += '</h4> \
              </div> \
              <div class="modal-body">';
      // Body of modal
      if (this.connections) {
        for (var i=0; i<this.connections.length; i++) {
          var c = this.connections[i];
          if (i > 0) {
            modalHtml += '</br>'
          }
          if (c.total_emails_out == 0 && c.total_emails_in == 0) {
            modalHtml += c.connected_user_email + '<-->' + this.email + '</br>';
          } else {
            modalHtml += c.connected_user_email + '-->' + this.email + ': '
            if (c.total_emails_out == 0) {
              modalHtml += c.total_emails_out + ' emails';
            } else if (c.total_emails_out == 1) {
              modalHtml += c.total_emails_out + ' email';
            } else {
              modalHtml += c.total_emails_out + ' emails, most recently on ' + c.latest_email_out_date;
            }
            modalHtml += '</br>';
            modalHtml += this.email + '-->' + c.connected_user_email + ': '
            if (c.total_emails_in == 0) {
              modalHtml += c.total_emails_in + ' emails';
            } else if (c.total_emails_in == 1) {
              modalHtml += c.total_emails_in + ' email';
            } else {
              modalHtml += c.total_emails_in + ' emails, most recently on ' + c.latest_email_in_date;
            }
            modalHtml += '</br>';
          }
        }
      }
      // Close modal
      modalHtml += '</div><!--group-modal modal-body--> \
            </div> \
          </div> \
        </div>';
      $('#modalsDiv').append(modalHtml);
    }

  </script>
{% end %}
  