{% extends "../base.html" %}
{% block page-title %}Home{% end %}
{% block page-description %}Ansatz is a simple way to find someone's email address while still respecting their privacy.{% end %}

{% block body %}
  {{ err }}
  {{ msg }}

  <section class="js-stretch-height search-background thin-search">
    <div class="container">
      <form id="main-search" class="form-inline" action="/search" method="GET">
        <div class="form-group">
          <div class="input-group">
            <input name="name" type="text" class="form-control" placeholder="Name" id="rounded-name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name="domain" type="text" class="form-control" placeholder="Domain">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <button type="submit" class="btn btn-primary btn-inline">Search</button>
          </div>
        </div>
      </form>
    </div>
  </section>


  
  <section class="feature">
    <div class="container">
      <h3 id="results"></h3> 

      <!-- Nav tabs on top of results table -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#AllConnections" role="tab" data-toggle="tab">All</a>
        </li>
        <li role="presentation">
          <a href="#GroupConnections" role="tab" data-toggle="tab">By Teammate</a>
        </li>
        <li role="presentation">
          <a href="#ProfileConnections" role="tab" data-toggle="tab">By Connection</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="AllConnections">
          <!-- Table for All -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Connections</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          <!-- End table for GroupConnections -->
        </div>

        <div role="tabpanel" class="tab-pane" id="GroupConnections">
          <!-- Table for GroupConnections -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Teammate</th>
                  <th>Connection</th>
                  <th>Most Recently</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          <!-- End table for GroupConnections -->
        </div>
        
        <div role="tabpanel" class="tab-pane" id="ProfileConnections">
          <!-- Table for GroupConnections -->
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Connection</th>
                <th>Teammates</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          <!-- End table for ProfileConnections -->
        </div> <!-- Profile Connections -->



      </div>

      <!-- Pagination -->
      

    </div> <!-- container -->
  </section> <!-- feature -->
{% end %}

{% block javascript %}
  <script>
    $(document).ready(function(){
      // Results message
      queryParameters = getQueryParameters()
      var terms = "";
      var firstParam = true;
      for (var k in queryParameters) {
        if (k != 'page') {
          if (queryParameters[k]) {
            if (!firstParam) {
              terms = terms + ", " // Comma-delimitation after first parameter listed
            }
            terms = terms + '"' + queryParameters[k] + '"';
            firstParam = false;
          }
        }
      }
      $('#results').text('Results for ' + terms);


      // Popovers for each results row
      $('body').popover({
        placement: "top",
        trigger: "focus",
        selector: "tr[id=popover-row]",
        container: "body",
        html: true,
        template: '<div class="popover popover-medium"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      });

      /* Load new page when pagination is clicked */
      $('.page-link').click(function(){
        queryParameters = getQueryParameters();
         
        // Add new parameters or update existing ones
        var pageNum = $(this).attr('data-page-number');
        var currentPageNum = parseInt(getQueryParameters['page']);
        if (pageNum == 'prev') {
          if (currentPageNum) {
            queryParameters['page'] = currentPageNum - 1;
          } else {
            // If there is no currentPageNum, then it's on page 1
            queryParameters['page'] = 2
          }
        } else if (pageNum == 'next' ) {
          if (currentPageNum) {
            queryParameters['page'] = currentPageNum + 1;
          } else {
            // If there is no currentPageNum, then it's on page 1
            queryParameters['page'] = 2
          }
        }
        else {
          queryParameters['page'] = pageNum;
        }
         
        /*
         * Replace the query portion of the URL.
         * jQuery.param() -> create a serialized representation of an array or
         *     object, suitable for use in a URL query string or Ajax request.
         */
        location.search = $.param(queryParameters); // Causes page to reload
      });

    });//ready

    function getQueryParameters() {
       /* queryParameters -> handles the query string parameters
       * queryString -> the query string without the fist '?' character
       * re -> the regular expression
       * m -> holds the string matching the regular expression */
      var queryParameters = {}, queryString = location.search.substring(1), re = /([^&=]+)=([^&]*)/g, m;
      // Creates a map with the query string parameters
      while (m = re.exec(queryString)) {
          queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      return queryParameters
    }
  </script>
{% end %}
