<section class="js-stretch-height search-background thin-search">
  <div class="container">
    <form id="main-search" class="form-inline" action="/search" method="GET">
      <div class="form-group">
        <div class="input-group">
          <input name="name" type="text" class="form-control" placeholder="Name" id="rounded-name">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input name="domain" type="text" class="form-control" placeholder="Domain">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <button type="submit" class="btn btn-primary btn-inline">Search</button>
        </div>
      </div>
    </form>
  </div>
</section>