{% extends "../base.html" %}

{% block body %}
  <div class="row">
    <div class="col-md-6">

      {% if msg %}
        {{ msg }}</br>
      {% end %}

      {% if err %}
        {{ msg }}</br>
      {% end %}

      Settings for {{ user.casual_name() }}
      </br></br>

      Email: {{ user.email }}
      </br></br>

      Ansatz email: {{ profile.burner }}@{{ settings.get('domain_name') }}
      <ul>
        <li>Update your Ansatz email</li>
      </ul>

      <a href="/group/create">Create a new team</a>
      </br>

      {% if groups %}
        Teams: 
        <ul>
          {% for g in groups %}
            <li> 
              {% if current_user == g.admin.email %}
                <a href="/group/{{ g.id }}/edit">{{ g }}</a>
              {% else %}
                {{ g }}
              {% end %}

              ({{ len(g.users) }} members): 
              {% for u in g.users %}
                {{ u.name }} ({{ u.email }}), 
              {% end %}
            </li>
          {% end %}
        </ul>
      {% else %}
        You're not yet in any teams! Teams are a great way to collaborate
        with friends or coworkers while expanding your address book. </br>
      {% end %}

      {% if group_invites %}
        You have pending invites to these teams:
        <ul>
          {% for g in group_invites %}
            <li>{{ g }} ({{ len(g.users) }} members): 
              {% for u in g.users %}
                {{ u.name }} ({{ u.email }}), 
              {% end %}
              - <a href="/group/{{ g.id }}/acceptinvite">Accept invitation</a>
            </li>
          {% end %}
        </ul>
      {% end %}

    </div><!--col-md-6-->
  </div><!--row-->
{% end %}

{% block javascript %}
{% end %}
