<section class="feature">
  <div class="container">
      {{!#if msg }}
        {{! msg }}</br>
      {{!/if}}

      {{!#if err }}
        {{! err }}</br>
      {{!/if}}

      <h2>Settings for {{! casual_name user }}</h2>

      Email: {{! user.email }}
      </br>

      {{!#if profile}}
        Ansatz email: {{! profile.burner }}@{{ settings.get('domain_name') }}
        <!--<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Star-->
      </br></br>
      {{!/if}}
      <!--<ul>
        <li>Update your Ansatz email</li>
      </ul>-->

      <a href="/group/create">Create a new team</a>
      </br>

      {{!#if groups}}
        Edit Your Teams: 
        <ul>
          {{!#each g in groups }}
            <li>
              {{! g.name }} ({{! g.users.length }} members): 
              {{!#each u in g.users}}
                {{!#if @last}}
                  {{! u.name }} ({{! u.email }})
                {{! else }}
                  {{! u.name }} ({{! u.email }}),
                {{!/if}}
              {{!/each}}
            </li>
          {{!/each}}
        </ul>
      {{!else}}
        You're not yet in any teams! Teams are a great way to collaborate
        with friends or coworkers while expanding your address book. </br>
      {{!/if}}

      {{!#if group_invites}}
        You have pending invites to these teams:
        <ul>
          {{!#each g in group_invites}}
            <li>{{! g }} ({{! g.users.length }} members): 
              {{!#each u in g.users}}
                {{! u.name }} ({{! u.email }}), 
              {{!/each}}
              - <a href="/group/{{! g.id }}/acceptinvite">Accept invitation</a>
            </li>
          {{!/each}}
        </ul>
      {{!/if}}

      {{!#if null}}
        Billing info:</br>
        All teams up to 5 users are free! 

        {{!#if paying_groups}}
          You are the admin of {{! paying_groups.length }} team ({{! list_to_comma_delimited_string paying_groups }}) that qualifies for our Basic tier of $5/month for each user.
        {{!else}}
          None of your teams exceed the free tier, but you can update your billing info if you'd like. 
        {{!/if}}

        </br>
        <button id="stripeButton" trype="button" class="btn-primary">
          {{!#if user.stripe_id}}
            Update Billing Info
          {{!else}}
            Enter Billing Info
          {{!/if}}
        </button>
      {{!/if}}
  </div><!--container-->
</section>
