{% extends "../public/index.html" %}
{% block page-title %}Welcome{% end %}
{% block page-description %}Ansatz is a simple way to find someone's email address while still respecting their privacy.{% end %}

{% block user_welcome_html %}
  {% set g = None %}
  <div id="user-welcome-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
          <h4 id="modal-title" class="modal-title">Welcome to {{ settings.get('company_name') }}!</h4>
        </div>

        <div id="start" class="modal-body">
          We'll have you up and running in just a few quick steps. 
        </div><!--finished modal-body-->

        <div id="group-invite" class="modal-body" style="display:none">
          First, you should join a "team." 
          Teams connect you with colleagues and friends, expanding your 
          address book and enabling you to see connections.</br></br>

          {% if group_invites %}
            You've already been invited to join these teams:
            <ul>
              {% for g in group_invites %}
                <li><div class="group-invite" data-group-id="{{ g.id }}">
                  {{ g }} ({{ len(g.users) }} 
                  {% if len(g.users) == 1 %}
                    member): 
                  {% else %}
                    members): 
                  {% end %}
                  {% set first = True %}
                  {% for u in g.users %}
                    {% if not first %}
                      , 
                    {% end %}
                    {{ u.name }} ({{ u.email }})
                    {% set first = False %}
                  {% end %}
                  </br>
                  <button type="button" class="btn btn-primary btn-inline group-accept-invite" data-group-id="{{ g.id }}">
                    Join team
                  </button>

                </div></li>
              {% end %}
            </ul>
            Or, <a id="create-group-link">create a new team</a> 
            by inviting your friends!
          {% else %}
            <a id="create-group-link">Create a new team</a> 
            by inviting your friends! You do not have any pending team invitations. 
          {% end %}
        </div><!--group-setup modal-body-->

        <div id="group-create" class="modal-body" style="display:none">
          <div id="group-create-err" class="alert alert-danger" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Error! Please try submitting again.
          </div>
          {% include ../group/group_edit_snippet.html %}
        </div><!--group-create modal-body-->

        <div id="chrome-extension" class="modal-body" style="display:none">
          Download the {{ settings.get("company_name") }} Chrome extension
          <a href="https://chrome.google.com/webstore/detail/ansatz/fhmfdjnooicibclghoophehldkeeloje"
          target="_blank">here</a>!
          </br></br> 
          Our extension gives you a quick way to check your connections to a 
          person or company as you browse the web. It also pulls all your 
          connection info right into the native Gmail web client.
        </div><!--chrome-extension modal-body-->

        <div id="finished" class="modal-body" style="display:none">
          Wasn't that easy? We hope you enjoy using {{ settings.get('company_name') }}!
          </br></br>
          P.S. Just a reminder that we never store any of your emails on our servers. 
        </div><!--finished modal-body-->

        <div class="modal-footer">
          <button type="button" id="modal-next" class="btn btn-primary btn-inline">Next</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% end %}


{% block user_welcome_js %}
<script>
  var ROOT_URL = '{{ settings.get("base_url") }}/';
  var MODAL_STATE = 'start';
  $(document).ready(function(){
    // First modal
    $('#user-welcome-modal').modal({
      backdrop: 'static',
      keyboard: false
    });

    // Accept group invites
    $('.group-accept-invite').click(function(){
      var current_btn = $(this);
      current_btn.text('Working...');
      current_btn.attr('disabled', 'disabled');
      var group_id = $(this).attr('data-group-id');
      var options = {
        type: 'POST',
        url: '/api/group/' + encodeURIComponent(group_id) + '/acceptinvite',
        dataType: 'json',
        success: function(response) {
          console.log(response);
          current_btn.text('Success!');
          current_btn.attr('disabled', 'disabled');
          $('#modal-next').text('Next');
        },
        error: function(response) {
          console.warn(response);
          current_btn.text('Try again!');
          current_btn.removeAttr('disabled');
          console.log(options);
        }
    };
    console.log('Requesting: ' + options.url)
    $.ajax(options);
    });

    // Show group create form
      $('#create-group-link').click(function(){
        $('#group-invite').hide();
        $('#group-create').show();
        $('#group-edit-btn').addClass('btn-inline');
        $('#group-edit-btn').text('Create Team');
        $('#modal-title').text('Create a Team');
        $('#modal-next').text('Skip');
        MODAL_STATE = 'group-create';
      });

    // Create group
    $('#group-edit-btn').click(function(){
      $(this).text('Creating...');
      $(this).attr('disabled', 'disabled');
      MODAL_STATE = 'group-create';
      var options = {
        type: 'POST',
        url: ROOT_URL + 'api/group/create',
        data: {
          name: $('#name').val(), 
          invited_emails: $('#invited_emails').val(), 
          domain_setting: $('#domain_setting').val()
        },
        dataType: 'json',
        success: function(response) {
          $('#group-create').html('Success! You created a team. Hit next to continue.');
          $('#modal-next').text('Next');
        },
        error: function(response) {
          $('#group-create-err').show();
          $(this).text('Create Team');
          $(this).attr('disabled', 'none');
          console.warn(response);
        }
    };
    console.log('Requesting: ' + options.url)
    $.ajax(options);
    });

    // Next button in modal
    $('#modal-next').click(function(){
      console.log(MODAL_STATE);
      if (MODAL_STATE == 'start') {
        $('#start').hide();
        $('#group-invite').show();
        $('#modal-title').text('Join a Team');
        $('#modal-next').text('Skip');
        MODAL_STATE = 'group-invite';
      } else if ((MODAL_STATE == 'group-invite' || MODAL_STATE == 'group-create') && navigator.sayswho.indexOf('Chrome') > -1) {
        // Second step if Chrome
        $('#group-invite').hide();
        $('#group-create').hide();
        $('#chrome-extension').show();
        $('#modal-title').text('Install Chrome Extension');
        $('#modal-next').text('Skip');
        MODAL_STATE = 'chrome-extension'
      } else if (MODAL_STATE == 'group-invite' || MODAL_STATE == 'group-create' || MODAL_STATE == 'chrome-extension') {
        // Third step if Chrome, second step otherwise
        $('#group-invite').hide();
        $('#group-create').hide();
        $('#chrome-extension').hide();
        $('#finished').show();
        $('#modal-title').text("You're finished!");
        $('#modal-next').text('Close');
        MODAL_STATE = 'finished'
      } else if (MODAL_STATE == 'finished') {
        $('#user-welcome-modal').modal('hide');
      }
     console.log(MODAL_STATE);
    });
  });

  //var foo = '''Welcome {{ current_user_casual_name() }}! Before we get started, we just
  //        want to remind you that we never store emails on our server. Our email
  //        magic is always safe for you to use.'''


  /* This is redundant, also in base.html, but confined to separate script */
  /* Returns string with info on users's browser type
      Ex: Chrome 38 */
    navigator.sayswho= (function(){
        var ua= navigator.userAgent, tem, 
        M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
            return 'IE '+(tem[1] || '');
        }
        if(M[1]=== 'Chrome'){
            tem= ua.match(/\bOPR\/(\d+)/)
            if(tem!= null) return 'Opera '+tem[1];
        }
        M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
        return M.join(' ');
    })();
</script>
{% end %}
