{% extends "../base.html" %}
{% block page-title %}Settings{% end %}
{% block page-description %}Manage your teams on Ansatz{% end %}
{% block body %}
  <section class="feature">
    <div class="container">

        {% if msg %}
          {{ msg }}</br>
        {% end %}

        {% if err %}
          {{ msg }}</br>
        {% end %}

        <h2>Settings for {{ user.casual_name() }}</h2>

        Email: {{ user.email }}
        </br>

        {% if profile %}
          Ansatz email: {{ profile.burner }}@{{ settings.get('domain_name') }}
          <!--<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Star-->
        </br></br>
        {% end %}
        <!--<ul>
          <li>Update your Ansatz email</li>
        </ul>-->

        <a class="group-create-link">Create A New Team</a></br>
        <!-- Group edit Modal -->
        <div id="group-create-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create A Team</h4>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger err err-modal" role="alert" style="display:none">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  Error! Please try submitting again.
                </div>
                {% set g = None %}
                {% include ../group/group_edit_snippet.html %}
              </div><!--group-modal modal-body-->
            </div>
          </div>
        </div>

        {% if groups %}
          View & Edit Your Teams: 
          <ul>
            {% for g in groups %}
              <li> 
                {% if current_user == g.admin.email %}
                  <a group-id="{{ g.id }}" class="group-edit-link">{{ g }}</a>
                  <!-- Group edit Modal -->
                  <div group-id="{{ g.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edit "{{ g }}" Team</h4>
                        </div>
                        <div class="modal-body">
                          <div class="alert alert-danger err err-modal" role="alert" style="display:none">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Error! Please try submitting again.
                          </div>
                          {% include ../group/group_edit_snippet.html %}
                        </div><!--group-modal modal-body-->
                      </div>
                    </div>
                  </div>
                {% else %}
                  <a group-id="{{ g.id }}" class="group-view-link">{{ g }}</a>
                  <!-- Group edit Modal -->
                  <div group-id="{{ g.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">"{{ g }}" Team</h4>
                        </div>
                        <div class="modal-body">
                          {% include ../group/group_view_snippet.html %}
                        </div><!--group-modal modal-body-->
                      </div>
                    </div>
                  </div>
                {% end %}

                : {{ len(g.users) }} 
                {% if len(g.users) == 1 %}
                  member
                {% else %}
                  members
                {% end %}

                {% if current_user == g.admin.email %}
                  (You are the Team Admin)
                {% end %}

              </li>
            {% end %}
          </ul>
        {% else %}
          You're not yet in any teams! Teams are a great way to collaborate
          with friends or coworkers while expanding your address book. </br>
        {% end %}

        {% if group_invites %}
          You have pending invites to these teams:
          <ul>
            {% for g in group_invites %}
              <li>{{ g }} ({{ len(g.users) }} members): 
                {% for u in g.users %}
                  {{ u.name }} ({{ u.email }}), 
                {% end %}
                - <a href="/group/{{ g.id }}/acceptinvite">Accept invitation</a>
              </li>
            {% end %}
          </ul>
        {% end %}

        {% if 0 %}
          Billing info:</br>
          All teams up to 5 users are free! 

          {% if paying_groups %}
            You are the admin of {{ len(paying_groups) }} team ({{ list_to_comma_delimited_string(paying_groups) }}) that qualifies for our Basic tier of $5/month for each user.
          {% else %}
            None of your teams exceed the free tier, but you can update your billing info if you'd like. 
          {% end %}

          </br>
          <button id="stripeButton" trype="button" class="btn-primary">
            {% if user.stripe_id %}
              Update Billing Info
            {% else %}
              Enter Billing Info
            {% end %}
          </button>
        {% end %}


    </div><!--container-->
  </section>
{% end %}

{% block javascript %}

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  CURRENT_MODAL = ""; // Hold state for which modal/group is being modified

  $(document).ready(function(){
    $(".group-create-link").click(function() {
      CURRENT_MODAL = $("#group-create-modal");
      $("#group-create-modal").modal();
    });
    $(".group-edit-link").click(function() {
      var group_id = $(this).attr('group-id');
      CURRENT_MODAL = $("div[group-id='" + group_id + "']");
      $("div[group-id='" + group_id + "']").modal();
    });
    $(".group-view-link").click(function() {
      var group_id = $(this).attr('group-id');
      CURRENT_MODAL = $("div[group-id='" + group_id + "']");
      $("div[group-id='" + group_id + "']").modal();
    });
  });

    // Create or edit group
    $('.group-edit-btn').click(function(){
      {% include group_create_edit.js %}
    });
/*
  var ROOT_URL = 'http://localhost:8001/';

  var handler = StripeCheckout.configure({
    key: 'pk_test_RMlPjQ0uu36oDd6TRWXSFmWh',
    image: '/square-image.png',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      //$('#stripeButton').attr('disabled', true);
      //$('#stripeButton').removeClass('btn-primary').addClass('btn-success');
      var options = {
          type: 'POST',
          url: ROOT_URL + 'stripe/basic?token_id=' + token.id + '&email=' + token.email,
          dataType: 'json',
          success: function(response) {
              console.log(response);
          },
          error: function(response) {
              console.warn(response);
          }
      };
      console.log('Requesting: ' + options.url)
      $.ajax(options);
    }
  });

  document.getElementById('stripeButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: '{{ settings.get("company_name") }}',
      description: 'Monthly subscription billing info',
      email: '{{ user.email }}',
      panelLabel: "Update Card"
    });
    e.preventDefault();
  });
*/
</script> 
{% end %}
